.header {
  @apply relative h-full w-full overflow-hidden pt-40 lg:pt-16;

  &::before {
    content: "";
    @apply absolute right-[0%] bottom-[-50%] z-50 h-[513px] w-[513px] -translate-x-1/2 -translate-y-1/2 rounded-[513px];
    background: rgba(4, 93, 227, 0.1);
    filter: blur(100px);
  }

  /* Responsive padding and adjustment for smaller screens */
  @media (max-width: 768px) {
    @apply pt-20; /* Reduced padding for small screens */
  }
}

.backgroundWrapper {
  @apply absolute inset-0 h-full w-full z-[19] overflow-hidden;
  
  img, video {
    @apply absolute inset-0 h-full w-full object-cover;
  }

  /* Ensure video/image maintains aspect ratio on small screens */
  @media (max-width: 768px) {
    img, video {
      @apply object-cover; /* Ensures the image/video doesn't overflow */
    }
  }
}

.overlay {
  @apply absolute inset-0 z-10;
  background: linear-gradient(180deg, rgba(246, 247, 248, 0) 74.68%, #f6f7f8 100%),
    linear-gradient(0deg, var(--Neutral-50, #f6f7f8) 0%, var(--Neutral-50, #f6f7f8) 100%);
  background-blend-mode: normal, color;

  /* Ensure responsiveness */
  @media (max-width: 768px) {
    @apply opacity-80; /* Less opacity on mobile */
  }
}
.container {
  @apply relative z-20 mx-auto h-full max-w-screen-2xl scroll-px-4;

  @media (max-width: 768px) {
    @apply w-full px-0; /* Adjust padding for mobile screens */
  }
}
.content {
  @apply relative mx-auto h-full p-[40px] my-20 shadow-lg rounded-[12px] text-center max-w-[80%];
  
  background: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 20px rgba(239, 240, 242, 0.25);
  backdrop-filter: blur(10px);
  
  @media (max-width: 768px) {
    @apply gap-[16px] px-4 py-12 max-w-[90%]; /* Reduce gap and padding on mobile */
  }
}

.title {
  @apply font-bold text-[#F6F7F8];
  
  @media (max-width: 768px) {
    @apply text-[2.5rem] leading-[3rem]; /* Adjust title size for mobile */
  }
}

.description {
  @apply text-[#F9FAFB] font-medium from-neutral-50;

  @media (max-width: 768px) {
    @apply mx-auto w-full text-sm; /* Add smaller text for mobile */
  }
}

.ctaButton {
  @apply gap-[22px];

  @media (max-width: 768px) {
    @apply m-auto w-fit justify-center; /* Center the button on mobile */
  }
}

.imageContainer {
  @apply relative h-[500px] lg:h-[600px];

  @media (max-width: 768px) {
    @apply hidden; /* Hide image on smaller screens */
  }
}

.imageWrapper {
  @apply absolute inset-0 overflow-hidden rounded-2xl;

  img {
    @apply w-full object-cover object-center;
  }
}

.label {
  @apply flex items-center gap-2 rounded-xl bg-black/30 px-4 py-2 text-neutral-50 shadow-[inset_0px_0px_8px_0px_rgba(255,255,255,0.25)] backdrop-blur-sm;

  @media (max-width: 768px) {
    @apply px-3 py-1 text-xs; /* Reduce padding and font size on mobile */
  }
}

.heroBackground {
  @apply w-full h-auto;

  @media (max-width: 768px) {
    @apply h-[100vh]; /* Full height for mobile */
  }
}