.section {
  @apply py-[60px] px-16;
}

.container {
  @apply mx-auto max-w-screen-2xl;
}

.gridContent {
  @apply items-center gap-12 md:grid-cols-2;
}

.content {
  @apply text-primary-800;
}

.sliderContainer {
  @apply relative;
}

.navigationButtons {
  @apply absolute left-0 right-[-20px] top-1/2 z-50 flex -translate-y-1/2 items-center justify-between;
}

.navigationButton {
  @apply flex h-10 w-10 items-center justify-center rounded-full border border-primary-800 transition-all hover:bg-neutral-50 disabled:border-primary-100;
}

.carouselContainer {
  @apply relative mx-auto h-[512px] w-full max-w-lg;
}

.slide {
  @apply absolute left-0 top-0 h-[500px] w-full rounded-2xl bg-primary-500 p-8 transition-all duration-500;
}

.slideContent {
  @apply flex h-full flex-col;
}

.slideHeader {
  @apply text-center text-white;
}

.stepTitle {
  @apply mb-1 font-bold;
}

.imageContainer {
  @apply relative mx-[10%] flex-1 rounded-lg;
}

.stepImage {
  @apply rounded-lg;
}

.slideActive {
  @apply z-30 translate-x-0 translate-y-0 opacity-100;
}

.slideNext {
  @apply z-20 translate-x-4 translate-y-4 opacity-40;
}

.slideFar {
  @apply z-10 translate-x-8 translate-y-8 opacity-20;
}
