.section {
  @apply px-6 py-[60px] lg:px-16;
}

.container {
  @apply mx-auto max-w-screen-2xl;
}

.gridContent {
  @apply items-center gap-6 lg:grid-cols-2;
}

.content {
  @apply text-primary-800;
}

.swiperContent {
  @apply relative mt-6;

  :global(.swiper-pagination) {
    @apply bottom-0 flex justify-center gap-1;
  }

  :global(.swiper-wrapper) {
    @apply h-[390px];
  }

  :global(.swiper-pagination-bullet) {
    @apply h-[0.5rem] w-[0.5rem] rounded-full bg-primary-200;
  }

  :global(.swiper-pagination-bullet-active) {
    @apply bg-primary-500;
  }
}

.sliderContainer {
  @apply relative;
}

.navigationButtons {
  @apply absolute bottom-0 left-0 right-0 z-50 flex -translate-y-1/2 items-center justify-between lg:right-[-20px] lg:top-1/2;
}

.navigationButton {
  @apply flex h-10 w-10 items-center justify-center rounded-full border border-primary-800 transition-all hover:bg-neutral-50 disabled:border-primary-100;
}

.carouselContainer {
  @apply relative mx-auto h-[512px] w-[90%] max-w-lg lg:w-full;
}

.slide {
  @apply absolute left-0 top-0 h-[350px] w-full rounded-2xl bg-primary-500 p-7 transition-all duration-500 lg:h-[400px] lg:h-[500px] lg:p-8;
}

.slideContent {
  @apply flex h-full flex-col;
}

.slideHeader {
  @apply text-center text-white;
}

.stepTitle {
  @apply my-1 font-bold;
}

.imageContainer {
  @apply relative mx-[10%] flex-1 rounded-lg;
}

.stepImage {
  @apply rounded-lg;
}

.slideActive {
  @apply z-30 translate-x-0 translate-y-0 opacity-100;
}

.slideNext {
  @apply z-20 translate-x-4 translate-y-4 opacity-40;
}

.slideFar {
  @apply z-10 translate-x-8 translate-y-8 opacity-20;
}
