.section {
  @apply rounded-xl pb-4;
}

.container {
  @apply mx-auto max-w-screen-2xl overflow-hidden rounded-xl border border-[#c1c4c3] text-neutral-50;
}

.header {
  @apply flex bg-primary-800 px-4 py-2 font-medium text-[#f6f7f8];
}

.title {
  @apply line-clamp-1 max-w-[50%] flex-grow border-r border-[#6b7280] px-2;
}

.country {
  @apply w-[15%] border-r border-[#6b7280] px-2;
}

.industry {
  @apply w-[15%] border-r border-[#6b7280] px-2;
}

.date {
  @apply w-[20%] px-2;
}

.content {
  @apply bg-white p-3;
}

.summaryContent {
  @apply p-3 text-[#4b5563];
}

.readMore {
  @apply cursor-pointer;
}

.readMoreLink {
  @apply cursor-pointer text-primary-400 underline;
}
