.section {
  @apply rounded-xl pb-4;
}

.container {
  @apply mx-auto max-w-screen-2xl overflow-hidden rounded-xl border border-[#c1c4c3] text-neutral-50;
}

.header {
  @apply flex bg-primary-800 py-2 text-[#f6f7f8];
}

.title {
  @apply line-clamp-1 flex-grow self-center border-r border-[#6b7280] pl-4 pr-2 text-[18px] font-semibold leading-7;
}

.country {
  @apply line-clamp-1 flex w-[200px] items-center justify-start self-center border-r border-[#6b7280] px-2 text-[18px] font-normal leading-7;
}

.flag {
  @apply mr-2 h-4 w-4 rounded-full object-cover;
}
.industry {
  @apply line-clamp-1 w-[220px] self-center border-r border-[#6b7280] px-2 text-[18px] font-normal leading-7;
}

.date {
  @apply line-clamp-1 w-[220px] self-center px-2 text-[18px] font-normal leading-7;
}

.content {
  @apply bg-white p-3;
}

.summaryContent {
  @apply py-3 text-[#4b5563];
}

.readMore {
  @apply cursor-pointer;
}

.readMoreLink {
  @apply cursor-pointer text-primary-400 underline;
}
