.container {
  @apply relative hidden overflow-hidden bg-gradient-to-br from-white to-[#f8f9fa];
}

.emea.packages_section {
  display: none !important;
}
.emea.packages_emea_section {
  display: block !important;
}

.apac.packages_section {
  display: block !important;
}
.apac.packages_emea_section {
  display: none !important;
}

.background {
  @apply absolute inset-0 z-[1] h-full w-full bg-cover bg-right-top bg-no-repeat;
}

.overlay {
  @apply absolute inset-0 z-[2] opacity-80;
  background: linear-gradient(180deg, rgba(246, 247, 248, 0) 74.68%, #f6f7f8 100%),
    linear-gradient(0deg, var(--Neutral-50, #f6f7f8) 0%, var(--Neutral-50, #f6f7f8) 100%);
  background-blend-mode: normal, color;
}

.content {
  @apply relative z-[3] mx-auto max-w-screen-2xl px-6 py-[60px] text-primary-800 lg:px-16 lg:py-24;
}

.header {
  @apply relative z-[1] mb-0 lg:mb-16 lg:text-center;
}

.title {
  @apply mb-3 text-[48px] font-bold text-primary-800;
}

.subtitle {
  @apply text-[16px] text-primary-800;
}

.packagesGrid {
  @apply mb-0 grid gap-6 lg:gap-8;
}

.package {
  @apply flex w-full flex-col justify-between gap-6 rounded-2xl bg-primary-500 p-7 lg:p-8;
}

.packageHeaderWrapper {
  @apply mb-3 flex items-center gap-3 lg:mb-5 lg:gap-5;
}

.packageContentWrapper {
  @apply flex flex-col gap-6 lg:gap-8;
}

.packageIcon {
  @apply flex h-10 w-10 items-center justify-center rounded-lg bg-neutral-50;
}

.packageName {
  @apply capitalize text-white;
}

.priceContainer {
  @apply mt-0;
}

.price {
  @apply m-0 flex items-center gap-2 text-white;
}

.perYear {
  @apply text-white/80 lg:w-[10%];
}

.packageDescription {
  @apply m-0 text-base leading-relaxed text-white;
}

.packageFooter {
  @apply border-t border-neutral-200 pt-8;
}

.button {
  @apply flex w-full cursor-pointer items-center justify-center gap-2 rounded-lg bg-white px-6 py-3 text-xs text-primary-800 transition-all duration-200 hover:bg-white/90;
}

.featuresTable {
  @apply overflow-hidden rounded-bl-2xl rounded-br-2xl rounded-tr-2xl border border-neutral-200;
}

.featuresHeader {
  @apply p-8 text-[22px] text-primary-800;
}

.table {
  @apply w-full table-fixed border-separate border-spacing-0 border-neutral-200 shadow-[0px_4px_20px_rgba(0,0,0,0.05)];
}

.tableRow {
  &:last-child {
    .tableCell {
      @apply border-b-0;
    }
  }
}

.tableCell {
  @apply border-b border-[#C1C4CA] bg-white p-4 text-center text-primary-800 transition-all duration-200 ease-in-out;

  &:first-child {
    @apply flex w-full items-center pl-8 text-left text-primary-800;
  }

  &.hovered {
    @apply bg-primary-500 text-white;

    svg {
      @apply text-white;
    }
  }
}

.iconContainer {
  @apply flex items-center justify-center;
}

.tableHeaderCell {
  @apply border-b border-neutral-200 bg-white p-4 pl-8 text-left text-sm text-gray-600;
}

.tooltipContainer {
  @apply ml-2 inline-flex cursor-pointer;
}

@media (max-width: 768px) {
  .packagesGrid {
    @apply grid-cols-2;
  }
}

@media (max-width: 768px) {
  .packagesGrid {
    @apply grid-cols-1;
  }

  .tableCell {
    @apply p-4;
  }

  .title {
    @apply text-2xl;
  }

  .price {
    @apply text-2xl;
  }
}
