.container {
  @apply relative min-h-screen bg-inherit bg-right-top bg-no-repeat px-8 py-24;
}

.content {
  @apply mx-auto max-w-screen-2xl;
}

.header {
  @apply relative z-[1] mb-16 text-center;
}

.title {
  @apply mb-3 text-[48px] font-bold text-primary-800;
}

.subtitle {
  @apply text-[16px] text-primary-800;
}

.packagesGrid {
  @apply mb-12 ml-auto grid w-[75%] grid-cols-3 gap-6;
}

.package {
  @apply flex flex-col justify-between gap-6 rounded-2xl bg-primary-500 p-8;
}

.packageHeaderWrapper {
  @apply mb-5 flex items-center gap-5;
}

.packageContentWrapper {
  @apply mb-8;
}

.packageIcon {
  @apply flex h-10 w-10 items-center justify-center rounded-lg bg-neutral-50;
}

.packageName {
  @apply m-0 text-2xl capitalize text-white;
}

.priceContainer {
  @apply mt-0;
}

.price {
  @apply m-0 flex items-center gap-2 text-[48px] text-white;
}

.perYear {
  @apply w-[10%] text-xs text-white/80;
}

.packageDescription {
  @apply m-0 text-base leading-relaxed text-white;
}

.packageFooter {
  @apply border-t border-neutral-200 pt-8;
}

.button {
  @apply flex w-full cursor-pointer items-center justify-center gap-2 rounded-lg bg-white px-6 py-3 text-xs text-primary-800 transition-all duration-200 hover:bg-white/90;
}

.featuresTable {
  @apply mt-8 overflow-hidden rounded-2xl bg-white shadow-[0px_4px_20px_rgba(0,0,0,0.05)];
}

.featuresHeader {
  @apply p-8 text-[22px] text-primary-800;
}

.table {
  @apply w-full table-fixed border-separate border-spacing-0;
}

.tableRow {
  &:last-child {
    .tableCell {
      @apply border-b-0;
    }
  }
}

.tableCell {
  @apply w-[calc(75%/3)] border-b border-neutral-300 bg-white p-4 text-center text-primary-800 transition-all duration-200 ease-in-out;

  &:first-child {
    @apply flex w-full items-center pl-8 text-left text-primary-800;
  }

  &.hovered {
    @apply bg-primary-500 text-white;

    svg {
      @apply text-white
    }
  }
}

.iconContainer {
  @apply flex items-center justify-center;
}

.tableHeaderCell {
  @apply border-b border-neutral-200 bg-white p-4 pl-8 text-left text-sm text-gray-600;
}

.tooltipContainer {
  @apply ml-2 inline-flex cursor-pointer;
}

@media (max-width: 1024px) {
  .packagesGrid {
    @apply grid-cols-2;
  }
}

@media (max-width: 768px) {
  .container {
    @apply px-4 py-16;
  }

  .packagesGrid {
    @apply grid-cols-1;
  }

  .tableCell {
    @apply p-4;
  }

  .title {
    @apply text-2xl;
  }

  .price {
    @apply text-2xl;
  }
}
