.section {
  @apply mx-auto w-full max-w-screen-2xl px-6 pt-16 lg:px-16 lg:pt-[60px];

  .navigation {
    @apply flex flex-col lg:flex-row items-start lg:items-center justify-between gap-4 rounded-2xl bg-[#045DE333] p-4;

    .navButton {
      @apply flex-1 rounded-xl px-4 py-3 text-center text-primary-800 transition-all;

      &.active {
        @apply bg-primary-500 font-bold text-neutral-50;
      }

      &:not(.active) {
        @apply hover:bg-primary-100;
      }
    }
  }

  .content {
    @apply my-24;

    .slide {
      @apply w-full;

      .slideContent {
        @apply grid lg:grid-cols-2 gap-16;

        &.reverse {
          @apply lg:grid-cols-2;
          direction: rtl;

          > * {
            direction: ltr;
          }
        }
      }

      .textContent {
        @apply space-y-6;
      }

      .imageContent {
        @apply relative h-full w-full m-auto overflow-hidden;

        .image {
          @apply h-full w-full object-contain;
        }
      }
    }
  }
}
