.section {
  @apply mx-auto w-full max-w-[1440px] px-16 pt-[60px];

  .navigation {
    @apply mb-24 flex items-center justify-between gap-4 rounded-2xl bg-[#045DE333] p-4;

    .navButton {
      @apply flex-1 rounded-xl px-4 py-3 text-center text-primary-800 transition-all;

      &.active {
        @apply bg-primary-500 font-bold text-neutral-50;
      }

      &:not(.active) {
        @apply hover:bg-primary-100;
      }
    }
  }

  .content {
    @apply relative min-h-[500px];

    .slide {
      @apply absolute left-0 right-0 top-0 w-full;

      .slideContent {
        @apply grid grid-cols-2 gap-16;

        &.reverse {
          @apply grid-cols-2;
          direction: rtl;

          > * {
            direction: ltr;
          }
        }
      }

      .textContent {
        @apply space-y-6;
      }

      .imageContent {
        @apply relative h-full w-[80%] m-auto overflow-hidden;

        .image {
          @apply h-full w-full object-contain;
        }
      }
    }
  }
}
