.full {
  @apply w-full mt-20;
  background: linear-gradient(180deg, #F6F7F8 0%, rgba(246, 247, 248, 0) 50%, #F6F7F8 100%);
}

.container {
  @apply relative z-[3] mx-auto max-w-screen-2xl space-y-16 pb-6 py-16 text-primary-800 lg:px-16 lg:py-16;

  /* Adjustments for smaller screens */
  @media (max-width: 768px) {
    @apply space-y-8; /* Reduce space between sections for mobile */
    @apply px-4 py-8; /* Adjust padding for smaller screens */
  }
}

.content {
  @apply mx-auto max-w-full sm:max-w-[1321px];
  background-repeat: no-repeat;
  background-size: contain;
}

.offers {
  @apply w-full sm:w-max text-center font-normal mb-3 text-sm text-[#02255B] bg-[#367DE91A] rounded-xl gap-2 py-1 px-5;
}

.containerInner {
  @apply z-[12];
}

.form {
  @apply max-w-full sm:max-w-[50%];
}

.title{
  @apply text-[#02255b] font-bold text-[22px] w-[40%] sm:w-full;
}

.content{
  @apply text-[#4b5563] font-normal text-[14px] w-[40%] sm:w-full;
}

.list {
  @apply w-full -mt-[120px] z-[20] relative;
  background-repeat: no-repeat;
  background-size: contain;
}
.item {
  @apply aspect-[356/144] absolute w-[calc(356/1040*(100%+0px))];

  &.item1{
    @apply -bottom-[28%] left-[2%];
  }
  
  &.item2{
    @apply -bottom-[2%] left-[52%];
  }
  
  &.item3 {
    @apply bottom-[56%] left-[87%];
  }
}