stages:
  - publish_dev
  - publish_when_trigger

publish_dev:
  tags:
    - test
  image: 
    name: amazon/aws-cli
    entrypoint: [""]
  services:
    - docker:dind
  stage: publish_dev
  only:
    - staging
  rules:
    - if: $CI_PIPELINE_SOURCE != "trigger"
  variables:
    AWS_REGION: ${AWS_DEFAULT_REGION}
    AWS_PROFILE: oidc
    CLUSTER_NAME: helios-cooperate-ecs-cluster
    SERVICE_NAME: helios-public-web
    REGISTRY_REPO_NAME: cb-helios-public-web
    DOCKER_REGISTRY: 631377496696.dkr.ecr.ap-southeast-1.amazonaws.com
  id_tokens:
    GITLAB_OIDC_TOKEN:
      aud: https://gitlab.com
  before_script:
    - yum install -y jq
    - amazon-linux-extras install docker
    - aws --version
    - docker --version
    - mkdir -p ~/.aws
    - echo "${GITLAB_OIDC_TOKEN}" > /tmp/web_identity_token
    - echo -e "[profile oidc]\nrole_arn=${DEV_ROLE_ARN}\nweb_identity_token_file=/tmp/web_identity_token" > ~/.aws/config
  script:
    - >
      export $(printf "AWS_ACCESS_KEY_ID=%s AWS_SECRET_ACCESS_KEY=%s AWS_SESSION_TOKEN=%s"
      $(aws sts assume-role-with-web-identity
      --role-arn ${DEV_ROLE_ARN}
      --role-session-name "GitLabRunner-${CI_PROJECT_ID}-${CI_PIPELINE_ID}"
      --web-identity-token ${GITLAB_OIDC_TOKEN}
      --duration-seconds 3600
      --query 'Credentials.[AccessKeyId,SecretAccessKey,SessionToken]'
      --output text))

    - source bin/env.sh
    - cp dev.env .env
    - aws ecr get-login-password | docker login --username AWS --password-stdin ${DOCKER_REGISTRY}
    - docker build --no-cache -t ${DOCKER_REGISTRY}/${REGISTRY_REPO_NAME}:latest .
    - docker push ${DOCKER_REGISTRY}/${REGISTRY_REPO_NAME}:latest
    - docker tag ${DOCKER_REGISTRY}/${REGISTRY_REPO_NAME}:latest ${DOCKER_REGISTRY}/${REGISTRY_REPO_NAME}:${CI_COMMIT_SHORT_SHA}
    - docker push ${DOCKER_REGISTRY}/${REGISTRY_REPO_NAME}:${CI_COMMIT_SHORT_SHA}
    - aws ecs update-service --cluster ${CLUSTER_NAME} --service ${SERVICE_NAME} --force-new-deployment

publish_public_web_dev_when_trigger:
  stage: publish_when_trigger
  image:
    name: node:20-bullseye
    entrypoint: [""]
  services:
    - docker:dind
  tags:
    - test
  rules:
    - if: $CI_COMMIT_BRANCH == "staging"
  variables:
    AWS_REGION: ${AWS_DEFAULT_REGION}
    AWS_PROFILE: oidc
    CLUSTER_NAME: helios-cooperate-ecs-cluster
    SERVICE_NAME: helios-public-web
    REGISTRY_REPO_NAME: cb-helios-public-web
    DOCKER_REGISTRY: 631377496696.dkr.ecr.ap-southeast-1.amazonaws.com
  id_tokens:
    GITLAB_OIDC_TOKEN:
      aud: https://gitlab.com
  before_script:
    - yum install -y jq
    - amazon-linux-extras install docker
    - aws --version
    - docker --version
    - mkdir -p ~/.aws
    - echo "${GITLAB_OIDC_TOKEN}" > /tmp/web_identity_token
    - echo -e "[profile oidc]\nrole_arn=${DEV_ROLE_ARN}\nweb_identity_token_file=/tmp/web_identity_token" > ~/.aws/config
  script:
    - >
      export $(printf "AWS_ACCESS_KEY_ID=%s AWS_SECRET_ACCESS_KEY=%s AWS_SESSION_TOKEN=%s"
      $(aws sts assume-role-with-web-identity
      --role-arn ${DEV_ROLE_ARN}
      --role-session-name "GitLabRunner-${CI_PROJECT_ID}-${CI_PIPELINE_ID}"
      --web-identity-token ${GITLAB_OIDC_TOKEN}
      --duration-seconds 3600
      --query 'Credentials.[AccessKeyId,SecretAccessKey,SessionToken]'
      --output text))

    - echo $CI_TRIGGER_SHORT_TOKEN
    - source bin/env.sh
    - cp dev.env .env
    - aws ecr get-login-password | docker login --username AWS --password-stdin ${DOCKER_REGISTRY}
    - docker build --no-cache -t ${DOCKER_REGISTRY}/${REGISTRY_REPO_NAME}:latest .
    - docker push ${DOCKER_REGISTRY}/${REGISTRY_REPO_NAME}:latest
    - docker tag ${DOCKER_REGISTRY}/${REGISTRY_REPO_NAME}:latest ${DOCKER_REGISTRY}/${REGISTRY_REPO_NAME}:${CI_COMMIT_SHORT_SHA}
    - docker push ${DOCKER_REGISTRY}/${REGISTRY_REPO_NAME}:${CI_COMMIT_SHORT_SHA}
    - aws ecs update-service --cluster ${CLUSTER_NAME} --service ${SERVICE_NAME} --force-new-deployment
