.ecosystem {
  &-parent-container {
    @apply relative bg-primary-800 px-6 py-[60px] lg:px-16 lg:pt-[7.5rem];

    .swiper-container {
      @apply relative;

      .swiper-pagination {
        @apply relative mt-6 flex justify-center gap-1;

        .swiper-pagination-bullet {
          @apply h-[0.5rem] w-[0.5rem] rounded-full bg-primary-200;
        }

        .swiper-pagination-bullet-active {
          @apply bg-primary-500;
        }
      }
    }
  }
  &-container {
    @apply relative mx-auto flex max-w-screen-3xl flex-col items-center;
  }
  &-title {
    @apply mb-4 font-bold text-neutral-50 lg:text-center;
  }
  &-description {
    @apply mb-6 max-w-screen-xl text-neutral-50 lg:text-center;
  }
  &-feature {
    &-container {
      @apply grid w-full grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4 lg:gap-4 xl:gap-6;
    }
    &-item {
      @apply relative h-[140px] rounded-xl bg-neutral-50 p-4 md:h-[160px] lg:h-[280px] lg:p-6 xl:p-10;
    }
    &-icon {
      @apply mb-12;
    }
    &-title {
      @apply font-bold text-primary-800;
      font-size: clamp(16px, 1.8vw, 20px);
      line-height: clamp(20px, 2vw, 24px);
    }

    &-description {
      @apply text-neutral-50;
      font-size: clamp(14px, 1vw, 16px);
      line-height: clamp(20px, 2vw, 24px);
    }
  }
}
