.ecosystem {
  &-parent-container {
    @apply relative bg-primary-800;
  }
  &-container {
    @apply relative mx-auto flex max-w-screen-3xl flex-col items-center gap-6 px-16 pb-[3.75rem] pt-[7.5rem];
  }
}
