.ecosystem {
  &-parent-container {
    @apply relative bg-primary-800;
  }
  &-container {
    @apply relative mx-auto flex max-w-screen-3xl flex-col items-center px-6 pb-[3.75rem] pt-16 lg:px-16 lg:pt-[7.5rem];
  }
  &-title {
    @apply mb-6 text-center font-bold text-neutral-50;
  }
  &-description {
    @apply mb-20 max-w-screen-xl text-center text-neutral-50;
  }
  &-feature {
    &-container {
      @apply grid w-full grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4 lg:gap-4 xl:gap-6;
    }
    &-item {
      @apply relative h-[140px] md:h-[160px] lg:h-[280px] rounded-xl bg-neutral-50 p-4 lg:p-6 xl:p-10;
    }
    &-icon {
      @apply mb-12;
    }
    &-title {
      @apply font-bold text-primary-800;
      font-size: clamp(16px, 1.8vw, 20px);
      line-height: clamp(20px, 2vw, 24px);
    }

    &-description {
      @apply text-neutral-50;
      font-size: clamp(14px, 1vw, 16px);
      line-height: clamp(20px, 2vw, 24px);
    }
  }
}
