.section {
  @apply bg-neutral-50 px-6 py-[60px] text-primary-800 lg:px-16 lg:py-[120px];
}

.container {
  @apply mx-auto flex max-w-screen-2xl flex-col items-start justify-between gap-10 lg:flex-row lg:gap-[20%];
}

.chatCard {
  @apply flex flex-col gap-3 rounded-lg bg-white p-10;
}

.chatHeader {
  @apply flex items-center gap-3;
}

.iconWrapper {
  @apply flex items-center justify-center rounded-lg bg-primary-500 p-1;
}

.chatDescription {
  @apply mt-3;
}

.chatEmail {
  @apply font-semibold;
}

.formContainer {
  @apply w-full;
}

.formTitle {
  @apply mb-3 font-bold;
}

.formSubtitle {
  @apply lg:mb-[-12px];
}

.form {
  @apply flex flex-col gap-3 lg:gap-[26px];
}

.inputWrapper {
  @apply relative;
}

.inputIcon {
  @apply absolute left-4 top-1/2 h-6 w-6 -translate-y-1/2 text-primary-800;
}

.input {
  @apply border border-primary-800 !bg-transparent px-4 py-[10px] pl-12 placeholder:text-[#02255B80];
}

.uploadLabel {
  @apply lg:mb-[-9px];
}

.uploadButton {
  @apply flex w-fit cursor-pointer items-center gap-3 rounded-lg border border-primary-800 px-4 py-3 text-primary-800;
}

.uploadHelperText {
  @apply mt-2 text-primary-800/50;
}

.textareaIcon {
  @apply absolute left-2 top-2 h-6 w-6 text-primary-800;
}

.textarea {
  @apply min-h-[120px] border border-primary-800 !bg-transparent px-4 py-[10px] pl-12 placeholder:text-[#02255B80];
}

.submitButton {
  @apply self-start px-20;
}
