.clientsSection {
  @apply overflow-hidden bg-white pb-[80px] pt-[60px] lg:py-[120px];
}

.title {
  @apply mb-0 px-6 text-center text-primary-800 lg:mb-8 lg:px-0;
}

.carouselContainer {
  @apply relative pt-6 lg:pt-10;

  :global(.slick-dots) {
    @apply flex justify-center gap-1;

    li {
      @apply m-0 h-0 w-4;

      button {
        @apply h-[0.5rem] w-[0.5rem] rounded-full bg-primary-500/30 p-0;

        &::before {
          @apply hidden;
        }
      }
    }

    :global(li.slick-active) button {
      @apply bg-primary-500;
    }
  }
}

.div {
  @apply px-3;
}

.swiper {
  @apply overflow-hidden;
}

.swiperSlide {
  @apply h-auto w-auto;
}

.logoWrapper {
  @apply mx-auto flex h-[80px] flex-[0_0_200px] items-center justify-center rounded-lg border border-primary-500 px-6 lg:h-[120px] lg:flex-[0_0_300px] lg:px-8;
}

.clientLogo {
  @apply h-auto max-h-[40px] max-w-[80%] object-contain lg:max-h-[60px];
  filter: invert(24%) sepia(97%) saturate(1970%) hue-rotate(211deg) brightness(102%) contrast(101%);
}
