.offeringsSection {
  padding: 80px 0;
  background: #0a0a0a;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  text-align: center;
  margin-bottom: 60px;
  text-align: start;



  .title {
     font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 18px;
    background: linear-gradient(90deg, #ff00cc, #7928ca);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .subtitle {
    font-size: 1.1rem;
    color: #ccc;
  }
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  background: #111;
  padding: 20px 25px;
  border-radius: 15px;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  }
}

/* Flex container for icon + title */
.cardHeader {
  display: flex;
  align-items: center;
  gap: 15px; /* space between icon and title */
  margin-bottom: 15px;
  justify-content: center; /* center horizontally */
}

.iconWrapper {
  .iconBackground {
    width: 100px;
    height: 100px;
    border-radius: 10px;       // make it circular
        display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      width: 100px;
      height: 100px;
    }
  }
}



.cardTitle {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
}

.cardText {
  font-size: 0.95rem;
  color: #ccc;
  text-align: center;
}

