.section {
  @apply w-full;
}

.form {
  @apply flex w-full justify-between;
}

.searchForm {
  @apply flex w-full flex-grow justify-between gap-3 max-md:flex-col;
}

.formLabel {
  @apply text-[14px] font-medium leading-5 text-[#1f2937];
}

.searchKeyword {
  @apply flex-grow max-md:w-full max-md:flex-row;
}

.searchSelect {
  @apply rounded-3xl bg-white pr-0 max-md:w-full;
}
.searchTime {
  @apply min-w-[20%];
}
.searchDate {
  @apply flex max-w-[100%] items-center gap-2 rounded-3xl border border-[#a3a8b1] bg-white px-2 text-[#172937];
}
.searchDateIcon {
  @apply items-center;
}
.searchDatePicker {
  @apply flex-grow rounded-3xl;
}
.searchInput {
  @apply relative rounded-[100px] bg-white;
  :global(.input-container) {
    border-color: transparent;
    box-shadow: none !important;
    outline: 1px solid #a3a8b1 !important;
    border-radius: 100px;
    padding-top: 0;
    padding-bottom: 0;
  }

  ::placeholder {
    color: #172937;
    opacity: 1; /* Firefox */
  }

  ::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: #172937;
  }
}

.searchInputElem {
  outline: none !important;
  @apply min-h-[45px] w-full !shadow-none max-lg:min-h-[45px];
  :focus-visible,
  :focus {
    border-color: transparent;
  }
}

.searchCountry,
.searchIndustry,
.searchTime {
  @apply max-w-[25%] max-md:max-w-full;
}

.resetSearch {
  @apply mt-2 flex items-center justify-end text-[14px] font-medium text-[#045DE3];
  @apply cursor-pointer;
}

.resetIconSearch {
  @apply ml-2 text-[#045DE3];
}

.resetIconSearch:hover {
  @apply text-[#0056b3];
}

.searchButtonKeyword {
  @apply absolute right-2 top-[15px] text-[12px] font-medium leading-[18px] text-[#9CA3AF];
}

.searchButtonKeywordActive {
  @apply cursor-pointer text-[#045DE3];
}
