.section {
  @apply bg-primary-800 px-6 py-[60px] lg:px-16 lg:pb-[60px] lg:pt-[120px];
}

.container {
  @apply mx-auto max-w-screen-2xl text-neutral-50;
}

.title {
  @apply mb-5 font-bold lg:mb-6;
}

.description {
  @apply mb-8 lg:mb-16;
}

.gridContent {
  @apply grid items-center gap-x-8 lg:grid-cols-[2fr_1fr_1fr_auto] lg:gap-y-0;
}

.columnHeader {
  @apply hidden font-semibold lg:flex;
}

.row {
  @apply font-bold lg:py-10;
}

.buttonWrapper {
  @apply flex items-center justify-start lg:py-10;
}

.divider {
  @apply col-span-1 my-4 border-b border-neutral-50 lg:col-span-4 lg:mt-0;
}
