.section {
  @apply bg-primary-800 px-6 py-16 lg:px-16 lg:pb-[60px] lg:pt-[120px];
}

.container {
  @apply mx-auto max-w-screen-2xl text-neutral-50;
}

.title {
  @apply mb-6 font-bold;
}

.description {
  @apply mb-8 lg:mb-16;
}

.gridContent {
  @apply grid items-center gap-x-8 gap-y-2 lg:gap-y-0 lg:grid-cols-[2fr_1fr_1fr_auto];
}

.columnHeader {
  @apply hidden font-semibold lg:flex;
}

.row {
  @apply py-1 font-bold lg:py-10;
}

.buttonWrapper {
  @apply flex items-center justify-start py-1 lg:py-10;
}

.divider {
  @apply col-span-1 mt-4 border-b border-neutral-50 lg:col-span-4 lg:mt-0;
}
