.container {
  @apply relative w-full bg-primary-800;
}

.content {
  @apply mx-auto w-full max-w-screen-2xl px-6 py-[60px] lg:px-16 lg:py-20;
}

.header {
  @apply flex flex-col gap-8 lg:flex-row;
}

.clientsSection {
  @apply hidden w-[200px] shrink-0 space-y-8 lg:block;
}

.title {
  @apply border-b border-neutral-200 py-5 font-bold text-neutral-200 lg:pb-5 lg:pt-0;
}

.sectionTitle {
  @apply mb-10 border-b border-neutral-200 pb-5 text-[32px] text-neutral-200;
}

.clientsList {
  @apply flex flex-col gap-6;
}

.client {
  @apply cursor-pointer text-[16px] text-white opacity-50 transition-opacity hover:opacity-100;
}

.clientActive {
  @apply border-b border-neutral-200 bg-primary-800 pb-2 opacity-100;
}

.testimonialSection {
  @apply min-w-0 flex-1 space-y-8;
}

.testimonialSlide {
  @apply flex h-full flex-col gap-8 lg:flex-row;
}

.testimonialLeft {
  @apply flex w-full shrink-0 flex-row items-center justify-between lg:w-[200px] lg:flex-col;
}

.testimonialRight {
  @apply flex min-w-0 flex-1 flex-col;
}

.testimonialQuote {
  @apply break-words text-neutral-50;

  @media (max-width: 768px) {
    @apply text-sm;
  }
}

.testimonialAuthor {
  @apply mb-1 text-white;
}

.testimonialPosition {
  @apply text-white opacity-80;
}

.testimonialLogo {
  @apply w-[100px] lg:w-[120px];
}

.progressContainer {
  @apply absolute bottom-0 left-0 w-full;
}

.progressBar {
  @apply h-[10px] bg-primary-500/20;
}

.progressBarFill {
  @apply h-full w-0 bg-primary-500 transition-all duration-100 ease-linear;
}

.progressBarActive .progressBarFill {
  @apply w-full;
}
