.container {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: center;
}

.overlay {
  position: absolute;
  inset: 0;
  
}



.inner {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 1200px;
  z-index: 1;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
color: var(--Primary-800, #02255B);
/* Heading 3/Bold */
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-sm {
  width: 100px;
}

