.container{
  position: relative;
  z-index: 0; /* create stacking context */
  overflow: hidden;

  display:flex; align-items:flex-start; gap:24px; padding:120px 64px;

  /* gradients (top, bottom) on top; image from CSS var at the end */
  background-image:
    linear-gradient(180deg, #F6F7F8 0%, rgba(246,247,248,0) 50%, #F6F7F8 100%),
    linear-gradient(  0deg, #F6F7F8 0%, rgba(246,247,248,0) 50%, #F6F7F8 100%),
    var(--bg-url, url('/'));
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 100% 100%, 100% 100%, cover;  /* 3 layers = 3 sizes */
  background-position: top center, bottom center, center;
}

.date_auth {
  color: var(--Primary-800, #02255B);
  padding-top: 15px;
  padding-bottom: 15px;
  /* Paragraph S/Regular */
  font-family: var(--Font-Family-Description, Poppins);
  font-size: var(--Font-size-Size-S, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Font-size-Size-L, 18px);
  /* 128.571% */
}

.overlay {
  position: absolute;
  inset: 0;

}

.feature {
  color: var(--Primary-500, #045DE3);

  /* Paragraph XL/SemiBold */
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: var(--Font-size-Size-XXL, 28px);
  /* 127.273% */
}

.inner {
  position: relative;
  display: grid;
  // background: linear-gradient(180deg, #F6F7F8 0%, rgba(246, 247, 248, 0.00) 50%, #F6F7F8 100%), url("/images/f81ca2941bdfd77e0a24e2bc982bf9f5c8865865.jpg") lightgray 50% / cover no-repeat;

  grid-template-columns: 1fr 1fr;
  gap: 100px;
  max-width: 1200px;
  z-index: 1;
}

.listenBtn {
  margin-top: 1rem;
  width: fit-content;
  font-size: 0.8rem;
  padding: 0.35rem 0.8rem;
  border-radius: 0.5rem;
  text-decoration: underline;
}

// .imageWrapper {
//   background: no-repeat center center;
//   background-size: cover;
//   /* Options: cover | contain | auto */
//   background-position: center;
//   /* Control where the image sits */
//   background-repeat: no-repeat;
//   /* Avoid tiling */
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border-radius: 12px;
// }


.content {
  color: var(--Primary-800, #02255B);
  /* Heading 3/Bold */
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  /* 111.111% */
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.text-sm {
  width: 100px;
}