.program-type {
  @apply relative h-full bg-primary-800 px-6 py-16 lg:px-16 lg:py-24;

  .background {
    @apply absolute inset-0 z-0 bg-[url('/images/bg-program-type.png')] bg-cover bg-center bg-no-repeat opacity-30;
  }

  .container {
    @apply relative z-10 mx-auto flex max-w-screen-2xl flex-col gap-6 px-4 lg:gap-16 lg:px-0;
  }

  .title {
    @apply mb-4 font-bold text-neutral-50;
  }

  .paragraph {
    @apply text-neutral-50/80;
  }

  .feature-container {
    @apply flex flex-col gap-6 rounded-2xl bg-primary-700 p-6 transition-all duration-500 lg:p-8;

    &.expanded {
      @apply w-full;
    }
  }

  ul {
    @apply mb-4 list-disc space-y-2 pl-6;
  }

  li {
    @apply text-base leading-relaxed;
  }
}
