.container {
  @apply relative mx-auto w-full max-w-screen-2xl pb-[60px] pt-[120px];

  @media (max-width: 768px) {
    @apply pb-[30px] pt-[60px]; /* Reduced padding on mobile */
  }
}

.containerWrap {
  @apply mx-auto max-w-[1321px];

  @media (max-width: 768px) {
    @apply w-full; /* Ensure the container is full width on smaller screens */
  }
}

.offers {
  @apply mx-auto w-fit gap-2 rounded-xl px-5 py-1 text-center text-sm font-normal text-[#02255B];

  @media (max-width: 768px) {
    @apply w-fit px-4; /* Full width on smaller screens */
  }
}
.partner {
  @media (max-width: 768px) {
    @apply flex flex-wrap justify-center; /* Make partner section responsive */
  }
}

.heading {
  @apply text-center text-[48px] font-bold text-[#02255B];

  @media (max-width: 768px) {
    @apply text-[32px]; /* Adjust heading size for mobile */
  }
}

.description {
  @apply text-center text-[16px] font-normal text-[#4B5563];

  @media (max-width: 768px) {
    @apply text-[14px]; /* Slightly smaller font on mobile */
  }
}

.detail {
  @apply mt-14;

  @media (max-width: 768px) {
    @apply mt-8; /* Reduced margin for mobile */
  }
}

.left {
  @apply mx-auto flex max-w-[1090px] flex-wrap items-center justify-between gap-[80px];

  @media (max-width: 768px) {
    @apply gap-[16px] px-4; /* Reduced gap and padding on mobile */
  }
}

.item {
  @apply h-[280px] max-w-[310px] rounded-[12px] bg-[#02255B] p-[40px] text-[#f9fafb];

  @media (max-width: 768px) {
    @apply h-auto w-full max-w-[100%] p-4; /* Adjust item width and padding for mobile */
  }
}

.content {
  @media (max-width: 768px) {
    @apply px-4; /* Add padding for mobile */
  }
}

.text {
  @apply mt-4;

  @media (max-width: 768px) {
    @apply mt-2; /* Reduced margin for mobile */
  }
}
