.news {
  @apply py-24;
  background: linear-gradient(180deg, #f8fafc 0%, rgba(248, 250, 252, 0) 100%);

  &-container {
    @apply mx-auto max-w-[1440px] px-16;
  }

  &-header {
    @apply mb-6 flex items-start justify-between;
  }

  &-link {
    @apply mb-10 block text-primary-800;
  }

  &-title {
    @apply mb-5 text-primary-800;
  }

  &-description {
    @apply text-primary-800;
  }

  &-controls {
    @apply mt-[60px] flex items-center justify-between;
  }

  &-navigation {
    @apply flex gap-3;

    &-prev,
    &-next {
      @apply flex h-10 w-10 items-center justify-center rounded-full border border-primary-800;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }
  }

  &-swiper-container {
    @apply relative;
  }

  &-swiper {
    @apply relative;
    margin: 0 -12px;
    padding: 0 12px;

    .swiper-slide {
      height: auto;
    }
  }

  &-pagination {
    @apply flex items-center;

    .swiper-pagination-bullet {
      @apply m-0 h-2 w-2 rounded-full bg-primary-100 opacity-100;
      margin: 0 4px !important;

      &:first-child {
        @apply ml-0;
      }

      &-active {
        @apply bg-primary-800;
      }
    }
  }

  &-card {
    @apply flex h-full flex-col rounded-[12px];

    &-image {
      @apply relative mb-6 h-[342px] w-[342px] overflow-hidden rounded-2xl;

      img {
        @apply object-cover;
      }
    }

    &-meta {
      @apply absolute left-4 top-4 flex gap-2;
    }

    &-category {
      @apply flex items-center rounded-full bg-primary-500 px-3 py-1 text-xs font-medium leading-[18px] text-white;
      height: 28px;
    }

    &-read-time {
      @apply flex items-center px-3 py-1 text-xs font-medium leading-[18px] text-white;
      height: 28px;
    }

    &-title {
      @apply mb-2 text-[20px] font-semibold leading-[30px] text-primary-800;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    &-description {
      @apply mb-6 text-base leading-6 text-neutral-700;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
