.importance-bug-testing {
  @apply px-6 py-[60px] lg:px-16 lg:py-[120px];
  .background {
    @apply bg-neutral-50;
  }

  .container {
    @apply mx-auto flex h-full max-w-screen-2xl flex-col gap-6 lg:flex-row;
  }

  .title {
    @apply mb-4 font-bold text-primary-800 lg:mb-6;
  }

  .paragraph {
    @apply text-primary-800;
  }

  .feature-container {
    @apply flex flex-col gap-2 rounded-2xl lg:gap-3 lg:bg-white lg:p-10;
  }
}
