@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-size: 16px;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  body {
    @apply font-sans;
    background-color: #f6f7f8;
  }
}

.display-1 {
  @apply text-[3rem] leading-[3.25rem] md:text-[5rem] md:leading-[5.25rem];
}

.display-2 {
  @apply text-[2.75rem] leading-[3rem] md:text-[4.25rem] md:leading-[4.5rem];
}

.display-3 {
  @apply text-[2.5rem] leading-[2.75rem] md:text-[3.5rem] md:leading-[3.875rem];
}

.heading-1 {
  @apply text-[2rem] leading-[2.5rem] md:text-[3rem] md:leading-[3.5rem];
}

.heading-2 {
  @apply text-[1.75rem] leading-[2.25rem] md:text-[2.5rem] md:leading-[3rem];
}

.heading-3 {
  @apply text-[1.5rem] leading-8 md:text-[2.25rem] md:leading-10;
}

.heading-4 {
  @apply text-[1.25rem] leading-7 md:text-[2rem] md:leading-9;
}

.heading-5 {
  @apply text-[1.125rem] leading-6 md:text-[1.75rem] md:leading-8;
}

.heading-6 {
  @apply text-[1rem] leading-5 md:text-[1.5rem] md:leading-7;
}

.heading-7 {
  @apply text-lg leading-6 md:text-[1.25rem] md:leading-7;
}

.heading-8 {
  @apply text-base leading-5 md:text-[1.125rem] md:leading-6;
}

.heading-9 {
  @apply text-sm leading-4 md:text-base md:leading-5;
}

.paragraph {
  @apply font-sans;

  &-xs {
    @apply text-[12px] leading-4 md:text-[14px] md:leading-5;
  }
  &-sm {
    @apply text-[14px] leading-5 md:text-[16px] md:leading-6;
  }
  &-md {
    @apply text-[16px] leading-6 md:text-[18px] md:leading-7;
  }
  &-lg {
    @apply text-[18px] leading-7 md:text-[20px] md:leading-8;
  }
  &-xl {
    @apply text-[22px] leading-8 md:text-[26px] md:leading-9;
  }
  &-xxl {
    @apply text-[28px] leading-10 md:text-[32px] md:leading-[3rem];
  }
}

.tagline {
  @apply text-[14px] leading-5 md:text-[16px] md:leading-6;
}
