@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Poppins Regular", sans-serif;
    background-color: #f6f7f8;
  }
}

.text-h1 {
  @apply font-primarySemiBold text-[5rem] font-semibold leading-[5.25rem];
}

.text-h2 {
  @apply font-primaryBold text-[3rem] font-bold leading-[3.5rem];
}

.text-h3 {
  @apply font-primaryBold text-[2rem] font-bold leading-[2.5rem];
}

.text-h4 {
  @apply font-primaryBold text-lg font-bold leading-6;
}

.text-p {
  @apply font-primary text-base font-normal leading-6;
}
