@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-size: 16px;
  }

  body {
    @apply font-sans;
    background-color: #f6f7f8;
  }
}

.text-h1 {
  @apply text-[5rem] font-semibold leading-[5.25rem];
}

.text-h2 {
  @apply text-[2.25rem] font-bold leading-[3.5rem] lg:text-[3rem];
}

.text-h3 {
  @apply text-xl font-bold leading-[2.5rem] lg:text-[2rem];
}

.text-h4 {
  @apply text-lg font-bold leading-6;
}

.text-p {
  @apply font-sans text-base font-normal leading-6;
}

.tagline {
  @apply text-[14px] font-normal leading-5 text-primary-800;
}
