@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Poppins Regular", sans-serif;
    background-color: #f6f7f8;
  }
}

.text-h1 {
  @apply font-primarySemiBold text-[80px] leading-[84px];
}

.text-h2 {
  @apply font-primaryBold text-[40px] leading-[56px];
}

