@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-size: 16px;
  }

  body {
    @apply font-sans;
    background-color: #f6f7f8;
  }
}

.display-1 {
  @apply text-[5rem] leading-[5.25rem];
}

.display-2 {
  @apply text-[4.25rem] leading-[4.5rem];
}

.display-3 {
  @apply text-[3.5rem] leading-[3.875rem];
}

.heading-1 {
  @apply text-[3rem] leading-[3.5rem];
}

.heading-2 {
  @apply text-[2.5rem] leading-[3rem];
}

.heading-3 {
  @apply text-[2.25rem] leading-[2.5rem];
}

.heading-4 {
  @apply text-[2rem] leading-[2.25rem];
}

.heading-5 {
  @apply text-[1.75rem] leading-[2rem];
}

.heading-6 {
  @apply text-[1.5rem] leading-[1.75rem];
}

.paragraph {
  @apply font-sans text-base font-normal leading-6;
}

.tagline {
  @apply text-[14px] font-normal leading-5;
}
