@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans;
    background-color: #f6f7f8;
  }
}

.display-1 {
  @apply text-[3rem] leading-[3.25rem] md:text-[5rem] md:leading-[5.25rem];
}

.display-2 {
  @apply text-[2.75rem] leading-[3rem] md:text-[4.25rem] md:leading-[4.5rem];
}

.display-3 {
  @apply text-[2.5rem] leading-[2.75rem] md:text-[3.5rem] md:leading-[3.875rem];
}

.heading-1 {
  @apply text-[2.5rem] leading-[3rem] md:text-[3rem] md:leading-[3.5rem];
}

.heading-2 {
  @apply text-[1.75rem] leading-[2.75rem] md:text-[2.5rem] md:leading-[3rem];
}

.heading-3 {
  @apply text-[1.5rem] leading-9 md:text-[2.25rem] md:leading-10;
}

.heading-4 {
  @apply text-[1.25rem] leading-8 md:text-[2rem] md:leading-9;
}

.heading-5 {
  @apply text-[1.125rem] leading-7 md:text-[1.75rem] md:leading-8;
}

.heading-6 {
  @apply text-[1rem] leading-6 md:text-[1.5rem] md:leading-7;
}

.heading-7 {
  @apply text-[1.125rem] leading-5 md:text-lg md:leading-6;
}

.heading-8 {
  @apply text-[0.875rem] leading-4 md:text-base md:leading-5;
}

.heading-9 {
  @apply text-[0.75rem] leading-3 md:text-[0.875rem] md:leading-4;
}

.paragraph {
  @apply font-sans;

  &-xs {
    @apply text-[10px] leading-3 md:text-[12px] md:leading-4;
  }
  &-sm {
    @apply text-[12px] leading-4 md:text-[14px] md:leading-5;
  }
  &-md {
    @apply text-[14px] leading-5 md:text-[16px] md:leading-6;
  }
  &-lg {
    @apply text-[16px] leading-6 md:text-[18px] md:leading-7;
  }
  &-xl {
    @apply text-[18px] leading-7 md:text-[22px] md:leading-8;
  }
  &-xxl {
    @apply text-[22px] leading-8 md:text-[28px] md:leading-10;
  }
}

.tagline {
  @apply text-[12px] leading-4 md:text-[14px] md:leading-5;
}

#cc-main {
  color-scheme: light;

  --cc-bg: #f9faff;
  --cc-primary-color: #112954;
  --cc-secondary-color: #112954;

  --cc-btn-primary-bg: #3859d0;
  --cc-btn-primary-color: var(--cc-bg);
  --cc-btn-primary-hover-bg: #213657;
  --cc-btn-primary-hover-color: #fff;

  --cc-btn-secondary-bg: #dfe7f9;
  --cc-btn-secondary-color: var(--cc-secondary-color);
  --cc-btn-secondary-hover-bg: #c6d1ea;
  --cc-btn-secondary-hover-color: #000;

  --cc-cookie-category-block-bg: #ebeff9;
  --cc-cookie-category-block-border: #ebeff9;
  --cc-cookie-category-block-hover-bg: #dbe5f9;
  --cc-cookie-category-block-hover-border: #dbe5f9;
  --cc-cookie-category-expanded-block-hover-bg: #ebeff9;
  --cc-cookie-category-expanded-block-bg: #ebeff9;

  --cc-overlay-bg: rgba(219, 232, 255, 0.85)!important;

  --cc-toggle-readonly-bg: #cbd8f1;
  --cc-toggle-on-knob-bg: var(--cc-bg);
  --cc-toggle-off-bg: #8fa8d6;
  --cc-toggle-readonly-knob-bg: var(--cc-bg);

  --cc-separator-border-color: #f1f3f5;

  --cc-footer-border-color: #f1f3f5;
  --cc-footer-bg: var(--cc-bg);

  --cc-modal-border-radius: var(--cc-btn-border-radius);
  --cc-pm-toggle-border-radius: var(--cc-btn-border-radius);
}

.cc--light-funky #cc-main .toggle__icon:after {
  border-radius: var(--cc-btn-border-radius);
}

.cc--light-funky #cc-main .cm__btn--close {
  border-radius: var(--cc-btn-border-radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
