@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Poppins Regular", sans-serif;
    background-color: #F6F7F8;
  }
}
