.position {
  &-top {
    @apply bottom-full left-1/2 transform -translate-x-1/2 mb-2;
  }
  &-bottom {
    @apply top-full left-1/2 transform -translate-x-1/2 mt-2;
  }
  &-left {
    @apply right-full top-1/2 transform -translate-y-1/2 mr-2;
  }
  &-right {
    @apply left-full top-1/2 transform -translate-y-1/2 ml-2;
  }
}

.tooltip {
  @apply absolute whitespace-nowrap rounded bg-gray-800 px-2 py-1 text-sm text-white;
}