.tooltip-wrapper {
  @apply relative inline-block;
}

.tooltip {
  @apply absolute rounded-[4px] bg-neutral-50 px-3 py-2 text-center text-xs text-primary-800 shadow-[0px_2px_6px_0px_rgba(23,78,181,0.16);];

  &-top {
    @apply bottom-full;
  }

  &-bottom {
    @apply top-full;
  }

  &-left {
    @apply right-full top-1/2 -translate-y-1/2;
  }

  &-right {
    @apply left-full top-1/2 -translate-y-1/2;
  }
}

.tooltip-arrow {
  @apply absolute h-2 w-2 bg-neutral-50;

  &-top {
    @apply left-1/2 -translate-x-1/2 rotate-45 transform;
    bottom: -4px;
  }

  &-bottom {
    @apply left-1/2 -translate-x-1/2 rotate-45 transform;
    top: -4px;
  }

  &-left {
    @apply top-1/2 -translate-y-1/2 rotate-45 transform;
    right: -4px;
  }

  &-right {
    @apply top-1/2 -translate-y-1/2 rotate-45 transform;
    left: -4px;
  }
}
