.cyberSection {
  position: relative;
  background: radial-gradient(circle at top right, #0a0a0f, #000);
  overflow: hidden;
  color: #fff;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: radial-gradient(circle at 30% 20%, rgba(255, 0, 204, 0.2), transparent 70%),
      radial-gradient(circle at 70% 80%, rgba(0, 128, 255, 0.15), transparent 70%);
    z-index: 0;
  }
}

.bgOverlay {
  position: absolute;
  inset: 0;
  background: repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.03) 0px,
      rgba(255, 255, 255, 0.03) 1px,
      transparent 1px,
      transparent 60px
    ),
    repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.03) 0px,
      rgba(255, 255, 255, 0.03) 1px,
      transparent 1px,
      transparent 60px
    );
  animation: gridMove 10s linear infinite;
  z-index: 0;
}

@keyframes gridMove {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 60px 60px;
  }
}

.heading {
   font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 18px;
    background: linear-gradient(90deg, #ff00cc, #7928ca);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.point {
  position: relative;
  padding-left: 1.5rem;
  font-size: 1rem;
  color: #cfcfcf;
  line-height: 1.6;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 8px;
    height: 8px;
    background: linear-gradient(90deg, #ff00c8, #b400ff);
    border-radius: 50%;
    box-shadow: 0 0 10px #b400ff;
  }
}

.resultText {
  margin-top: 2rem;
  font-weight: 600;
  color: #ff66e3;
  text-shadow: 0 0 15px rgba(255, 0, 204, 0.5);
}

.glowRing {
  position: absolute;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 0, 204, 0.2), transparent 70%);
  filter: blur(80px);
  animation: pulse 4s infinite ease-in-out;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
}
.imageWrapper {
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.imageText {
  margin-top: 1rem;
  color: #d6b4ff;
  font-size: 1rem;
  font-weight: 500;
  text-align: start;
  color: white;
  text-shadow: 0 0 15px rgba(180, 0, 255, 0.5);
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
