.full {
  @apply w-full mt-20;
  background: linear-gradient(180deg, #F6F7F8 0%, rgba(246, 247, 248, 0) 50%, #F6F7F8 100%);
}

.container {
  @apply relative z-[3] mx-auto max-w-screen-2xl space-y-16 pb-6 py-16 text-primary-800 lg:px-16 lg:py-16;

  /* Adjustments for smaller screens */
  @media (max-width: 768px) {
    @apply space-y-8; /* Reduce space between sections for mobile */
    @apply px-4 py-8; /* Adjust padding for smaller screens */
  }
}

.content {
  @apply mx-auto max-w-full sm:max-w-[1321px] text-[#4b5563] font-normal text-[14px] sm:w-full;
  background-repeat: no-repeat;
  background-size: contain;
  @media (max-width: 768px) {
    @apply w-full; /* Reduce space between sections for mobile */
  }
}

.offers {
  @apply w-fit sm:w-max text-center font-normal mb-3 text-sm text-[#02255B] rounded-xl gap-2 py-1 px-5;
}

.containerInner {
  @apply z-[12];
}

.form {
  @apply max-w-full sm:max-w-[50%] relative z-[23];
}

.title{
  @apply text-[#02255b] font-bold text-[48px] w-[40%] sm:w-full;
  @media (max-width: 768px) {
    @apply w-full; /* Reduce space between sections for mobile */
  }
}

.list {
  @apply w-full -mt-[120px] z-[20] relative;
  background-repeat: no-repeat;
  background-size: contain;
  @media (max-width: 768px) {
    @apply w-full -mt-[80px]; /* Reduce space between sections for mobile */
  }
}