.full {
  @apply mt-20 w-full;
  background: linear-gradient(180deg, #f6f7f8 0%, rgba(246, 247, 248, 0) 50%, #f6f7f8 100%);
}

.container {
  @apply relative z-[3] mx-auto max-w-screen-2xl space-y-16 py-16 pb-6 text-primary-800 lg:px-16 lg:py-16;

  /* Adjustments for smaller screens */
  @media (max-width: 768px) {
    @apply space-y-8; /* Reduce space between sections for mobile */
    @apply px-4 py-8; /* Adjust padding for smaller screens */
  }
}

.content {
  @apply mx-auto max-w-full text-[14px] font-normal text-[#4b5563] sm:w-full sm:max-w-[1321px];
  background-repeat: no-repeat;
  background-size: contain;
  @media (max-width: 768px) {
    @apply w-full; /* Reduce space between sections for mobile */
  }
}

.offers {
  @apply mb-3 w-fit gap-2 rounded-xl py-1 pl-0 text-center text-sm font-normal text-[#02255B] sm:w-max;
}

.containerInner {
  @apply z-[12];
}

.form {
  @apply relative z-[23] max-w-full sm:max-w-[50%];
}

.title {
  @apply w-[40%] text-[48px] font-bold text-[#02255b] sm:w-full;
  @media (max-width: 768px) {
    @apply w-full; /* Reduce space between sections for mobile */
  }
}

.list {
  @apply relative z-[20] -mt-[120px] w-full;
  background-repeat: no-repeat;
  background-size: contain;
  @media (max-width: 768px) {
    @apply -mt-[30px] w-full; /* Reduce space between sections for mobile */
  }
}
