.container {
  position: relative;
  color: #f6f7f8;
  padding: 6rem 2rem;
  text-align: center;
  overflow: hidden;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: var(--Primary-800, #02255b);
  z-index: -1;
}

.content {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 20px 0px rgba(239, 240, 242, 0.25) inset;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  line-height: 28px;
  max-width: 600px;
}

@media (max-width: 768px) {
  .container {
    padding: 4rem 1rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1.125rem;
  }
}
