.container {
  @apply relative flex h-[80vh] items-center justify-center overflow-hidden px-16 py-24 text-center text-neutral-50;
}

.image {
  @apply absolute inset-0 -z-[2] h-full w-full object-cover;
}

.overlay {
  @apply absolute inset-0 -z-[1] h-full w-full bg-primary-800 opacity-20;
}

.content {
  @apply relative mx-auto flex max-w-screen-2xl flex-col items-center justify-center space-y-5 rounded-lg bg-black/30 p-8 shadow-[0px_0px_20px_0px_rgba(239,240,242,0.25)_inset] backdrop-blur-lg;
}

.title {
  @apply mb-5;
}

.description {
  @apply max-w-screen-md text-[18px] leading-7;
}

@media (max-width: 768px) {
  .container {
    @apply px-4 py-16;
  }

  .description {
    @apply text-[1.125rem];
  }
}
