.section {
  @apply relative;
}

.background {
  @apply absolute inset-0 -z-10 bg-primary-500 bg-[url('/bug-hunters/join-and-benefits-bg.svg')] bg-cover bg-no-repeat;
}

.container {
  @apply mx-auto max-w-screen-2xl px-6 py-[60px] lg:px-16 lg:pb-[120px] lg:pt-[60px];
}

.content {
  @apply text-left text-neutral-50 lg:text-center;
}

.subtitle {
  @apply mb-7 lg:mb-10;
}

.title {
  @apply mb-4 font-bold lg:mb-6;
}

.gridContent {
  @apply mx-[-24px] mt-6 pb-6 lg:mx-[10%] lg:mt-10;

  @screen md {
    @apply grid grid-cols-2 gap-12;
  }

  @screen lg {
    @apply grid-cols-4;
  }

  :global(.swiper-pagination) {
    @apply bottom-0 flex justify-center gap-1;
  }

  :global(.swiper-pagination-bullet) {
    @apply h-[0.5rem] w-[0.5rem] rounded-full bg-primary-200;
  }

  :global(.swiper-pagination-bullet-active) {
    @apply bg-primary-500;
  }

  :global(.slick-dots) {
    @apply flex justify-center gap-1;

    li {
      @apply m-0 h-0 w-4;

      button {
        @apply h-[0.5rem] w-[0.5rem] rounded-full bg-primary-500/30 p-0;

        &::before {
          @apply hidden;
        }
      }
    }

    :global(li.slick-active) button {
      @apply bg-primary-500;
    }
  }
}

.card {
  @apply flex flex-row items-center gap-3 rounded-lg bg-primary-500 p-7 lg:p-10;
}

.iconWrapper {
  @apply rounded-lg bg-neutral-50;
}

.icon {
  @apply h-[24px] w-[24px] text-primary-500;
}

.cardTitle {
  @apply font-bold text-neutral-50;
}
