.section {
  @apply relative;
}

.background {
  @apply absolute inset-0 -z-10 bg-primary-500 bg-[url('/bug-hunters/join-and-benefits-bg.svg')] bg-cover bg-no-repeat;
}

.container {
  @apply mx-auto max-w-screen-2xl px-16 pb-[120px] pt-[60px];
}

.content {
  @apply text-center text-neutral-50;
}

.subtitle {
  @apply mb-10;
}

.title {
  @apply mb-6 font-bold;
}

.gridContent {
  @apply mx-[10%] mt-10 grid grid-cols-2 gap-12 md:grid-cols-4;
}

.card {
  @apply flex flex-row items-center gap-3 rounded-lg bg-primary-500 p-10;
}

.iconWrapper {
  @apply flex items-center justify-center rounded-lg bg-neutral-50 p-2;
}

.icon {
  @apply h-[24px] w-[24px] text-primary-500;
}

.cardTitle {
  @apply font-bold text-neutral-50;
}
