.input-container {
  @apply flex w-full items-center gap-3 rounded-xl border border-primary-800 px-[10px] py-[14px] placeholder:text-neutral-400;
  @apply text-sm;
  @apply leading-5;

  &:focus-within {
    @apply border-2 outline-none;
  }

  @apply disabled:cursor-not-allowed disabled:border-primary-100 disabled:text-primary-100;

  &-text-error {
    @apply mt-1 text-sm text-red-500;
  }

  &.input-error {
    @apply border-b-red-500 text-red-500 placeholder:text-red-400;
  }
}

.dropdown-input {
  &-container {
    @apply relative;

    &.disabled {
      @apply cursor-not-allowed;
    }
  }

  &-button {
    @apply input-container flex w-full cursor-pointer items-center justify-between;
    @apply disabled:bg-neutral-400 disabled:text-neutral-300 disabled:opacity-50 disabled:cursor-not-allowed;
  }

  &-arrow {
    @apply h-5 w-5 text-neutral-200 transition-transform duration-300;

    .dropdown-input-button.button-disabled & {
      @apply text-neutral-300;
    }
  }

  &-options {
    &-container {
      @apply absolute left-0 z-10 mt-1 max-h-72 w-full overflow-auto rounded border border-neutral-200 bg-neutral-100 px-3 py-2 shadow-lg;
    }

    &-item {
      @apply cursor-pointer rounded px-2 py-1 text-neutral-200 hover:bg-neutral-400;
      @apply text-sm lg:text-[18px];
      @apply leading-4 lg:leading-6;
      &-highlighted {
        @apply bg-neutral-400;
      }
    }
  }

  &-panel {
    @apply rounded border border-neutral-200 bg-neutral-50 px-3 py-2 text-neutral-600;
  }
}
