.input-container {
  @apply flex items-center gap-3;
  @apply w-full px-[10px] py-[14px];
  @apply rounded-xl border border-primary-800;
  @apply text-[14px] leading-5 placeholder:text-neutral-400;

  &:focus-within {
    @apply border-2 outline-none;

    svg {
      @apply text-primary-800;
    }
  }

  @apply disabled:cursor-not-allowed disabled:border-primary-100 disabled:text-primary-100;

  &-text-error {
    @apply mt-1 text-sm text-red-500;
  }

  &.input-error {
    @apply border-b-red-500 text-red-500 placeholder:text-red-400;

    svg {
      @apply text-red-400;
    }
  }

  svg {
    @apply text-neutral-400;
  }
}

.dropdown-container {
  @apply relative;
}

.dropdown-input-container {
  @apply flex items-center justify-between;
  @apply w-full px-[10px] py-[14px];
  @apply rounded-xl border border-primary-800;
  @apply text-[14px] leading-5 placeholder:text-neutral-400;
  @apply cursor-pointer;
  @apply disabled:cursor-not-allowed disabled:border-primary-100 disabled:text-primary-100;

  &:hover {
  }

  &:focus {
    @apply border-2 outline-none;
  }

  &.input-error {
    @apply border-b-red-500 text-red-500 placeholder:text-red-400;
  }
}

.dropdown-input-arrow {
  @apply h-5 w-5 transition-transform duration-300;
}

.dropdown-input-options-container {
  @apply absolute left-0 top-full z-10;
  @apply mt-1 max-h-72 w-full overflow-auto px-3 py-2;
  @apply rounded border-2 border-primary-800 bg-neutral-50 shadow-lg;
}

.dropdown-input-options-item {
  @apply cursor-pointer;
  @apply rounded px-2 py-1 text-primary-800 hover:bg-primary-100;
  @apply text-[14px] leading-5;
}

.dropdown-input-options-item-highlighted {
  @apply bg-primary-100;
}

.input-text-error {
  @apply mt-1 text-sm text-red-500;
}
