.section {
  @apply px-6 py-[60px] lg:px-16 lg:pb-[60px] lg:pt-[120px];
}

.container {
  @apply mx-auto max-w-screen-2xl;
}

.gridContent {
  @apply items-center gap-6 lg:grid-cols-2 lg:gap-16;
}

.content {
  @apply text-primary-800;
}

.cardContainer {
  @apply flex flex-col items-stretch gap-4 lg:flex-row;
}

.cardColumn {
  @apply flex flex-col gap-4 lg:w-1/2;
}

.programCard {
  @apply rounded-xl bg-primary-500 p-4;
}

.programCardContent {
  @apply flex flex-col items-center text-neutral-50;
}

.programImage {
  @apply -mb-4 rounded-lg shadow-lg;
}

.featureCard {
  @apply flex flex-col gap-3 rounded-xl bg-primary-800 p-7 text-neutral-50 lg:gap-6 lg:p-10;
}

.featureHeader {
  @apply flex flex-row items-center gap-4;
}

.featureIcon {
  @apply -mb-4 shadow-lg;
}

.missionsCard {
  @apply flex items-end justify-end overflow-hidden rounded-xl bg-primary-500 pl-2 pt-4;
}

.missionImage {
  @apply rounded-lg;
}
