.blogWrapper {
  display: flex;
  justify-content: center;
}
.blogContainer {
  max-width: 1220px;
  width: 100%;
}
.banner {
  width: 100%;
  height: 463px;
  margin-top: 60px;
}
.bannerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.info {
  margin-top: 62px;
  display: flex;
  gap: 12px;
  align-items: center;
}
.author {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(23, 43, 77, 1);
}
.divider {
  width: 1px;
  height: 16px;
  background: rgba(23, 43, 77, 1);
}
.date {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(23, 43, 77, 1);
}
.readTime {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(23, 43, 77, 1);
}
.contentWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 62px;
}
.content {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #02255b;
  max-width: 932px;
}
.news {
  margin-top: 180px;
}
.newsTitle {
  span {
    color: #02255b;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
  h3 {
    margin-top: 40px;
    color: #02255b;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
  }
  p {
    margin-top: 20px;
    color: #02255b;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
}
.newsList {
  margin-top: 34px;
}

