.container {
  @apply mx-auto max-w-screen-2xl px-6 lg:px-16;
}

.accordionItem {
  @apply border-b border-neutral-200;
}

.accordionHeader {
  @apply flex w-full cursor-pointer scroll-mt-24 items-center justify-between px-5 py-6 lg:px-0 lg:py-6;
}

.accordionTitle {
  @apply w-[70%] text-left text-primary-800;
}

.accordionIcon {
  @apply h-6 w-6 transition-transform duration-300;

  &.expanded {
    @apply rotate-180;
  }
}

.accordionContent {
  @apply duration-300 ease-in-out;

  &.expanded {
    @apply opacity-100;
  }
}

.accordionText {
  @apply px-5 pb-6 text-primary-800;

  h3 {
    @apply mb-4 mt-6 text-lg font-bold lg:text-xl;
  }

  h4 {
    @apply mb-3 mt-5 text-md font-bold lg:text-lg;
  }

  p {
    @apply mb-4;
  }

  ul {
    @apply mb-4 list-disc space-y-2 pl-6;
  }

  li {
    @apply text-[14px] leading-relaxed lg:text-base;
  }

  a {
    @apply text-primary-500 underline hover:text-primary-600;
  }
}
