.container {
  @apply bg-primary-800 py-20 px-16 relative;
}

.content {
  @apply container mx-auto px-4;
}

.header {
  @apply flex gap-32;
}

.clientsSection {
  @apply w-[200px] shrink-0;
}

.sectionTitle {
  @apply text-[32px] text-neutral-200 font-bold mb-10 border-b border-neutral-200 pb-5;
}

.clientsList {
  @apply flex flex-col gap-6;
}

.client {
  @apply text-white text-[16px] cursor-pointer opacity-50 transition-opacity hover:opacity-100 font-light;
}

.clientActive {
  @apply opacity-100 bg-primary-800 border-b border-neutral-200 pb-5;
}

.testimonialSection {
  @apply flex-1 min-w-0;
}

.testimonialSlide {
  @apply flex gap-32 h-full;
}

.testimonialLeft {
  @apply w-[200px] shrink-0 flex flex-col justify-between;
}

.testimonialRight {
  @apply flex-1 min-w-0 flex flex-col;
}

.testimonialAuthor {
  @apply text-white text-[20px] mb-1;
}

.testimonialPosition {
  @apply text-white text-[16px] opacity-80;
}

.testimonialQuote {
  @apply text-[28px] text-white leading-normal font-primary break-words h-full;
}

.testimonialLogo {
  @apply w-[120px];
}

.progressContainer {
  @apply absolute bottom-0 left-0 w-full;
}

.progressBar {
  @apply h-[10px] bg-[#045DE3]/20;
}

.progressBarFill {
  @apply h-full bg-[#045DE3] transition-all duration-100 ease-linear w-0;
}

.progressBarActive .progressBarFill {
  @apply w-full;
}
