.container {
  @apply relative overflow-hidden bg-primary-800;
}

.backgroundWrapper {
  @apply absolute left-0 top-0 z-0 h-full w-full overflow-hidden;
}

.parallaxWrapper {
  @apply absolute top-[-10%] h-[120%] w-full;
}

.banner {
  @apply h-full w-full object-cover;
}

.overlay {
  @apply absolute left-0 top-0 h-full w-full bg-gradient-to-t from-black/30 to-black/30;
}

.content {
  @apply relative z-10 mx-auto flex max-w-screen-2xl items-center px-6 py-[60px] lg:px-16 lg:py-32;
}

.contentLeft {
  @apply space-y-3 rounded-xl bg-primary-800 p-10 text-white lg:max-w-[60%] lg:space-y-8 lg:p-12;
}

.title {
  @apply mb-6;
}

.buttonGroup {
  @apply flex gap-4;
}
