.featured-hunters {
  &-parent-container {
    @apply relative bg-primary-800;
  }
  &-top-container {
    @apply relative mx-auto flex max-w-screen-3xl flex-col items-center px-16 py-[30px];
  }
  &-bottom-container {
    @apply relative mx-auto flex max-w-screen-3xl flex-col items-center px-16 pb-[120px] pt-[30px];
  }
  &-tagline {
    @apply mb-10 text-neutral-50;
  }
  &-title {
    @apply mb-5 font-bold text-neutral-50;
  }
  &-description {
    @apply mb-10 max-w-screen-xl text-neutral-50;
  }
  &-top-hunters {
    &-container {
      @apply grid w-full max-w-screen-xl grid-cols-3 gap-6;
    }
    &-item {
      @apply flex flex-col gap-6;
    }
    &-card {
      @apply overflow-hidden rounded-xl bg-primary-500;
    }
    &-image {
      @apply z-10 aspect-[31/38] object-cover;
    }
    &-headline {
      &-container {
        @apply absolute bottom-[40px] left-1/2 w-[90%] -translate-x-1/2 transform rounded-[8px] p-2 backdrop-blur-sm;
      }
      &-heading {
        @apply mb-1 font-bold text-neutral-50;
      }
      &-text {
        @apply text-neutral-50;
      }
    }
    &-tag {
      &-container {
        @apply bg-primary-500 py-3;
      }
      &-text {
        @apply text-center text-neutral-50;
      }
    }
    &-description {
      @apply text-center text-neutral-50;
    }
  }
  &-hunters {
    &-container {
      scrollbar-color: #045de3 #c1c4ca;
      scrollbar-width: thin;
      @apply flex max-h-[800px] w-full max-w-screen-lg flex-col gap-4 overflow-auto pr-3;
    }
    &-item {
      @apply flex gap-5 rounded-xl bg-[#045DE31A] p-6 shadow-[8px_8px_40px_0px_rgba(0,0,0,0.12)];
    }
  }
}
