.featured-hunters {
  &-parent-container {
    @apply relative bg-primary-800;
  }
  &-top-container {
    @apply relative mx-auto flex max-w-screen-3xl flex-col items-center px-16 py-[30px];
  }
  &-bottom-container {
    @apply relative mx-auto flex max-w-screen-3xl flex-col items-center px-16 pb-[120px] pt-[30px];
  }
  &-tagline {
    @apply mb-10 text-neutral-50;
  }
  &-title {
    @apply mb-5 font-bold text-neutral-50;
  }
  &-description {
    @apply mb-10 max-w-screen-xl text-neutral-50;
  }
  &-top-hunters {
    &-container {
      @apply grid w-full max-w-screen-xl grid-cols-3 gap-6;
    }
    &-item {
    }
    &-image {
      @apply z-10 aspect-[31/38] object-cover;
    }
    &-text {
      &-container {
        @apply absolute bottom-[40px] left-1/2 w-[90%] -translate-x-1/2 transform rounded-[8px] p-2 backdrop-blur-sm;
      }
      &-heading {
        @apply mb-1 font-bold text-neutral-50;
      }
      &-description {
        @apply text-neutral-50;
      }
    }
  }
}
