.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  background: #181818;
  color: #fff;
  padding: 60px;
  border-radius: 16px;
  flex-wrap: wrap;

  @media (max-width: 900px) {
    flex-direction: column;
    padding: 40px 24px;
  }
}

.left {
  flex: 1;
  h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .statusText {
    font-size: 16px;
    color: #ccc;
  }

  .progressBar {
    position: relative;
    background: #333;
    height: 6px;
    border-radius: 4px;
    margin: 10px 0 20px;
    overflow: hidden;

    .progress {
      height: 100%;
      background: linear-gradient(90deg, #ff00a0, #b400ff);
      transition: width 0.5s ease;
    }

    .statusLabel {
      position: absolute;
      right: 0;
      top: -22px;
      font-weight: 600;
      color: #ff00a0;
    }
  }
.status {
  background: linear-gradient(90deg, #ff00a0, #b400ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;

}

  .description {
    line-height: 1.6;
    color: #bdbdbd;
    margin-bottom: 24px;
  }

  .downloadBtn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: #111;
    border: 1px solid #444;
    padding: 10px 18px;
    border-radius: 8px;
    color: #fff;
    transition: 0.3s;
    text-decoration: none;

    &:hover {
      background: #ff00a0;
      border-color: #ff00a0;
    }
  }
}

.right {
  flex: 1.1;
  background: #111;
  border-radius: 12px;
  padding: 24px;

  h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .alertItem {
    display: flex;
    gap: 12px;
    // border-left: 3px solid #ff00a0;
    padding-left: 12px;

    .alertBar {
      width: 3px;
      background: #ff00a0;
    }

    .date {
      color: #aaa;
      font-size: 13px;
    }

    h4 {
      font-size: 16px;
      font-weight: 600;
      margin: 4px 0;
    }

    p {
      color: #bbb;
      font-size: 14px;
    }
  }
}
