.container {
  @apply mx-auto max-w-screen-2xl px-6 py-16 lg:px-16 lg:py-28;
}

.gridContainer {
  @apply flex flex-col gap-10 lg:flex-row lg:gap-20;
}

.title {
  @apply mb-5 text-primary-800;
}

.description {
  @apply text-sm text-primary-800;
}

.formContainer {
  @apply w-full space-y-4 lg:w-[60%];
}

.inputGrid {
  @apply flex flex-row gap-5;
}

.inputWrapper {
  @apply relative w-full;
}

.input {
  @apply w-full rounded-lg border border-primary-800 bg-transparent px-12 py-4 text-primary-800 outline-none placeholder:text-[#02255B80];
}

.select {
  @apply w-full rounded-lg border border-primary-800 px-12 py-4 text-left text-primary-800 outline-none;
}

.selectOption {
  @apply cursor-pointer px-4 py-3 text-sm text-[#02255B80] hover:bg-neutral-50;
}

.selectDropdown {
  @apply absolute left-0 right-0 top-full z-10 mt-1 overflow-hidden rounded-lg border border-primary-800 bg-white shadow-lg;
}

.textarea {
  @apply h-40 w-full rounded-lg border border-primary-800 bg-transparent px-12 py-4 text-neutral-800 outline-none placeholder:text-neutral-400;
}

.iconWrapper {
  @apply pointer-events-none absolute left-4 top-1/2 -translate-y-1/2;
}

.textareaIconWrapper {
  @apply pointer-events-none absolute left-4 top-4;
}

.selectIconWrapper {
  @apply pointer-events-none absolute right-4 top-1/2 -translate-y-1/2;
}

.icon {
  @apply h-5 w-5 text-primary-800;
}

.submitButton {
  @apply w-fit rounded-lg bg-primary-500 px-8 py-4 text-sm text-white transition-colors hover:bg-primary-600;
}
