.security-posture {
  &-parent-container {
    @apply relative bg-neutral-50;
  }
  &-container {
    @apply relative mx-auto flex max-w-screen-3xl flex-col items-center px-6 py-8 lg:px-16 lg:py-[60px];
  }
}
