.container {
  @apply relative overflow-hidden bg-primary-800;
}

.backgroundWrapper {
  @apply absolute left-0 top-0 z-0 h-full w-full overflow-hidden;
}

.parallaxWrapper {
  @apply absolute top-[-10%] h-[120%] w-full;
}

.banner {
  @apply h-full w-full object-cover;
}

.overlay {
  @apply absolute left-0 top-0 h-full w-full bg-gradient-to-t from-black/30 to-black/30;
}

.content {
  @apply relative mx-auto max-w-screen-2xl z-10 flex items-center px-6 py-16 lg:px-16 lg:py-32;
}

.contentLeft {
  @apply lg:max-w-[60%] space-y-8 rounded-xl bg-primary-800 py-12 pl-12 pr-[8.5em] text-white;
  @media (max-width: 768px) {
    @apply px-0 mx-auto;
  }
}

.title {
  @apply mb-6;
}

.buttonGroup {
  @apply flex gap-4;
}
