.referral {
  &-parent-container {
    @apply relative bg-neutral-50;
  }
  &-container {
    @apply relative mx-auto flex max-w-screen-3xl flex-col gap-6 px-6 py-16 lg:flex-row lg:px-16 lg:py-[7.5rem];
    &-item {
      @apply basis-1/2;
    }
  }
  &-overlay {
    @apply fixed left-0 top-0 z-50 flex h-screen w-full items-center justify-center bg-neutral-50;
  }
}

.overlay-content {
  @apply h-full w-full;
}

.swiper-parent-container {
  @apply flex h-[calc(100vh-200px)] items-center;

  .swiper {
    @apply flex h-full flex-col;
  }

  .swiper-wrapper {
    @apply max-h-max;
  }

  .swiper-slide {
    @apply flex w-full px-6 md:py-16 lg:px-16 lg:py-[60px];
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none; /* Hide default Swiper arrows */
  }
}
