.referral {
  &-parent-container {
    @apply relative bg-neutral-50;
  }
  &-container {
    @apply relative mx-auto flex max-w-screen-3xl gap-6 px-16 py-[7.5rem];
    &-item {
      @apply basis-1/2;
    }
  }
  &-overlay {
    @apply fixed left-0 top-0 z-50 flex h-screen w-full items-center justify-center bg-neutral-50;
  }
}

.overlay-content {
  @apply h-full w-full;
}

.swiper-slide {
  @apply bg-neutral-50;
}

.swiper-slide img {
  @apply block w-full h-full object-cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  @apply hidden;
}
