.referral {
  &-parent-container {
    @apply relative bg-neutral-50;
  }
  &-container {
    @apply relative mx-auto flex max-w-screen-3xl gap-6 px-16 py-[7.5rem];
    &-item {
      @apply basis-1/2;
    }
  }
}

.referral-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.overlay-content {
  text-align: center;
  color: white;
}
