.why {
  &-parent-container {
    @apply relative bg-primary-800;
  }
  &-container {
    @apply mx-auto flex max-w-screen-3xl flex-col justify-between px-6 py-16 lg:flex-row lg:px-16 lg:py-[7.5rem];
  }
  &-tagline {
    @apply mb-10 inline-block text-neutral-50;
  }
  &-title {
    @apply mb-5 font-bold text-neutral-50;
  }
  &-content {
    @apply mb-10 text-neutral-50 lg:mb-[unset];
  }
  &-feature {
    &-container {
      @apply relative rounded-xl p-5 shadow-[0px_5px_25px_0px_rgba(2,37,91,0.5)] lg:absolute lg:min-h-[148px] lg:w-1/2 lg:min-w-[270px];
      &-first {
        @apply lg:left-0 lg:top-0 lg:z-10;
      }
      &-second {
        @apply z-30 lg:right-0 lg:top-[34%] xl:top-1/4;
      }
      &-third {
        @apply z-20 lg:bottom-0 lg:right-1/2 lg:translate-x-1/2;
      }
    }
    &-title {
      @apply font-bold;
      &-container {
        @apply mb-4 flex items-center gap-3;
      }
    }
    &-number {
      &-container {
        @apply mb-2 flex items-end gap-3;
      }
    }
  }
}
