.header {
  @apply relative h-full w-full overflow-hidden pt-40 lg:pt-16;
}

.backgroundWrapper {
  @apply absolute inset-0 h-full w-full;

  img {
    @apply relative z-10 object-cover;
  }
}

.overlay {
  @apply absolute inset-0;
  background: linear-gradient(180deg, rgba(246, 247, 248, 0) 74.68%, #f6f7f8 100%),
    linear-gradient(0deg, var(--Neutral-50, #f6f7f8) 0%, var(--Neutral-50, #f6f7f8) 100%);
  background-blend-mode: normal, color;
}

.container {
  @apply relative z-20 mx-auto h-full max-w-screen-2xl;
}

.content {
  @apply grid grid-cols-1 items-center gap-[24px] px-6 py-12 lg:grid-cols-3 lg:px-16 lg:py-20;

  @media (max-width: 768px) {
    @apply gap-[16px] px-4 py-12;
  }
}

.textContent {
  @apply col-span-2 space-y-6;

  @media (max-width: 768px) {
    @apply col-span-full text-center;
  }
}

.title {
  @apply text-primary-800;

  @media (max-width: 768px) {
    @apply text-[2.5rem] leading-[3rem];
  }
}

.description {
  @apply w-[70%] text-primary-800;

  @media (max-width: 768px) {
    @apply mx-auto w-full;
  }
}

.ctaButton {
  @media (max-width: 768px) {
    @apply m-auto w-fit justify-center;
  }
}

.imageContainer {
  @apply relative h-[500px] lg:h-[600px];

  @media (max-width: 768px) {
    @apply hidden;
  }
}

.imageWrapper {
  @apply absolute inset-0 overflow-hidden rounded-2xl;

  img {
    @apply h-full w-full object-cover;
  }
}

.label {
  @apply flex items-center gap-2 rounded-xl bg-black/30 px-4 py-2 text-neutral-50 shadow-[inset_0px_0px_8px_0px_rgba(255,255,255,0.25)] backdrop-blur-sm;
}
