.our-core-team {
  @apply mx-auto max-w-screen-2xl px-6 py-[60px] lg:px-16 lg:pb-24 lg:pt-7;

  .swiperContent {
    @apply relative;

    :global(.swiper-pagination) {
      @apply bottom-0 flex justify-center gap-1;
    }

    :global(.swiper-wrapper) {
      @apply h-[300px];
    }

    :global(.swiper-pagination-bullet) {
      @apply h-[0.5rem] w-[0.5rem] rounded-full bg-primary-200;
    }

    :global(.swiper-pagination-bullet-active) {
      @apply bg-primary-500;
    }
  }

  .title {
    @apply mb-4 text-center text-primary-800;
  }

  .content {
    @apply mb-6 text-primary-800 lg:mb-16 lg:text-center;
  }

  .grid {
    @apply flex flex-col gap-6;
  }

  .row {
    @apply flex flex-col gap-6 lg:flex-row;
  }

  .row:last-child {
    @apply justify-start lg:justify-center;
  }

  .row:last-child .card {
    @apply w-full lg:w-[calc((100%-32px)/3)];
  }

  .card {
    @apply w-full px-4 py-5 lg:w-[calc((100%-48px)/3)];
    border-radius: 16px;
    border: 1px solid rgba(107, 114, 128, 0);
    box-shadow:
      0px 1px 3px 0px rgba(16, 24, 40, 0.1),
      0px 1px 2px -1px rgba(16, 24, 40, 0.1);

    .header {
      @apply mb-6;
    }

    .name {
      @apply mb-1 text-primary-800;
    }

    .title {
      @apply mb-4 text-left font-semibold text-primary-500;
    }

    .description {
      @apply text-neutral-700;
    }

    .social {
      @apply flex gap-1;

      .link {
        @apply flex h-6 w-6 items-center justify-center rounded-lg bg-neutral-600;
      }
    }
  }
}
