.key-benefits {
  &-parent-container {
    @apply relative;
  }
  &-background {
    @apply absolute right-0 top-0 z-0 h-full w-full bg-[url('/bug-hunters/join-and-benefits-bg.svg')] bg-cover bg-no-repeat;
  }
  &-container {
    @apply relative z-10 mx-auto max-w-screen-3xl px-6 lg:px-16;
  }
  &-benefits-container {
    @apply py-[60px] lg:pb-[7.5rem];
  }
  &-title {
    @apply mb-4 font-bold text-neutral-50 lg:mb-5;
  }
  &-paragraph {
    @apply mb-6 text-neutral-50 lg:mb-9;
  }
  &-tagline {
    @apply mb-6 inline-block text-neutral-50 lg:mb-10 lg:mt-6;
  }
  &-feature-container {
    @apply flex flex-col gap-3 rounded-xl bg-neutral-50 p-6 lg:p-10;
  }
  &-benefit-container {
    @apply flex flex-col gap-[20px] rounded-xl bg-transparent lg:gap-3 lg:border lg:border-primary-500 lg:p-10 lg:p-6;
  }
}
