.background {
  @apply absolute right-0 top-0 z-0 h-full w-full bg-[url('/bug-hunters/join-and-benefits-bg.svg')] bg-cover bg-no-repeat;
}

.container {
  @apply relative z-10 mx-auto max-w-screen-3xl px-16;
}

.join-container {
  @apply flex justify-between pb-[20px] pt-[120px];
}

.feature-container {
  @apply flex flex-col gap-3 rounded-xl bg-neutral-50 p-10;
}
