.container {
  @apply relative mx-auto w-full max-w-screen-2xl overflow-hidden pb-[60px] pt-[120px];

  /* Responsive Padding for mobile */
  @media (max-width: 768px) {
    @apply pb-[30px] pt-[60px]; /* Reduce top and bottom padding on mobile */
  }
}

.containerWrap {
  @apply mx-auto flex max-w-[1096px] flex-wrap items-center justify-center gap-8;

  /* Responsive Layout for smaller screens */
  @media (max-width: 768px) {
    @apply mx-4 gap-4; /* Reduce the gap between items */
    @apply w-full; /* Ensure full width on smaller screens */
  }
}

.heading {
  @apply mb-10 text-center text-[48px] font-bold text-[#02255B] max-sm:text-[32px];

  /* Optional: Further reduce margin for small screens */
  @media (max-width: 768px) {
    @apply mb-6; /* Reduced bottom margin for mobile */
  }
}

.itemWapper {
  @apply relative rounded-lg text-white;

  @media (max-width: 768px) {
    @apply w-full pr-5; /* Full width on mobile screens */
  }
}

.itemIcon {
  @apply absolute -left-[24px] top-1/2 -translate-y-1/2 rounded-[40px];

  @media (max-width: 768px) {
    @apply -left-[16px]; /* Adjust the left positioning for smaller screens */
  }
}
.itemIconWrap {
  /* icon */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 48px;
  height: 48px;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid rgba(3, 74, 182, 0.3);

  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 4px rgba(104, 158, 238, 0.16);
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 40px;

  img {
    width: 46%;
    aspect-ratio: 1;
    object-fit: contain;
  }

  @media (max-width: 768px) {
    img {
      width: 55%;
    }
  }
}
.textWrap {
  @apply left-6 w-[320px] gap-2 rounded-3xl border bg-[#02255B] pb-5 pl-8 pr-4 pt-4;

  /* Adjust for mobile responsiveness */
  @media (max-width: 768px) {
    @apply left-0 w-full; /* Full width and adjusted padding for mobile */
  }
}

.title {
  @apply space-x-0 text-sm;

  /* Optional: Reduce text size on mobile */
  @media (max-width: 768px) {
    @apply text-xs; /* Slightly smaller font on mobile */
  }
}

.content {
  @apply text-xs;

  @media (max-width: 768px) {
    @apply text-sm; /* Adjust text size for better readability on mobile */
  }
}
