.overlay {
  background: linear-gradient(180deg, rgba(246, 247, 248, 0.00) 74.68%, #F6F7F8 100%), linear-gradient(0deg, var(--Neutral-50, #F6F7F8) 0%, var(--Neutral-50, #F6F7F8) 100%);
  background-blend-mode: normal, color;
}
