.section {
  @apply px-2 py-5;
}

.container {
  @apply mx-auto max-w-screen-2xl overflow-hidden lg:px-4;
}

.title {
  @apply mb-10 mt-[120px] text-[48px] font-bold text-[#02255B] max-md:text-[32px] lg:mb-6;
}

.searchForm {
  @apply w-full py-5;
}

.showing {
  @apply mb-1 mt-2 flex justify-end;
}

.paginationWrap {
  @apply mx-auto mb-16 mt-4 flex max-w-[100%] justify-center;
}
.pagination {
  @apply max-w-[100%];
}
.newsList {
  @apply min-h-[400px];
}

.noData {
  @apply mx-auto py-5 text-center;
}

.loading {
  @apply z-[100] flex hidden h-full w-full items-center justify-center;
}

.spinner {
  @apply h-10 w-10;
}
