.container {
  @apply mx-auto max-w-[1440px] px-16 py-28;
}

.gridContainer {
  @apply flex flex-row gap-20;
}

.title {
  @apply mb-5 font-primaryBold text-primary-800;
}

.description {
  @apply text-sm text-primary-800;
}

.formContainer {
  @apply space-y-4 w-[60%];
}

.inputGrid {
  @apply flex flex-row gap-5;
}

.inputWrapper {
  @apply relative w-full;
}

.input {
  @apply w-full rounded-lg border bg-transparent border-primary-800 px-12 py-4 text-primary-800 outline-none placeholder:text-[#02255B80];
}

.select {
  @apply w-full text-left rounded-lg border border-primary-800 px-12 py-4 text-primary-800 outline-none;
}

.selectOption {
  @apply text-[#02255B80] text-sm py-3 px-4 hover:bg-neutral-50 cursor-pointer;
}

.selectDropdown {
  @apply absolute left-0 right-0 top-full mt-1 bg-white rounded-lg border border-primary-800 shadow-lg overflow-hidden z-10;
}

.textarea {
  @apply h-40 w-full bg-transparent rounded-lg border border-primary-800 px-12 py-4 text-neutral-800 outline-none placeholder:text-neutral-400;
}

.iconWrapper {
  @apply pointer-events-none absolute left-4 top-1/2 -translate-y-1/2;
}

.textareaIconWrapper {
  @apply pointer-events-none absolute left-4 top-4;
}

.selectIconWrapper {
  @apply pointer-events-none absolute right-4 top-1/2 -translate-y-1/2;
}

.icon {
  @apply h-5 w-5 text-primary-800;
}

.submitButton {
  @apply w-fit text-sm rounded-lg bg-primary-500 px-8 py-4 text-white transition-colors hover:bg-primary-600;
}
