.section {
  @apply flex w-full gap-[24px] rounded-xl pb-6 lg:w-[342px];
}

.container {
  @apply mx-auto max-w-screen-2xl overflow-hidden rounded-xl;
}

.content {
  @apply h-full w-full gap-4;
}

.thumbnail {
  @apply h-[342px] w-full rounded-lg object-cover lg:w-[342px];
}

.title {
  @apply mt-[24px] line-clamp-2 text-[24px] font-bold leading-[28px] tracking-[-0.02em] text-[#02255B];
}

.summaryContent {
  @apply mt-2 line-clamp-3 text-[16px] font-normal leading-[24px] tracking-[-0.02em] text-[#02255B];
}

.thumbnailContainer {
  @apply relative flex h-[342px] w-full items-center justify-center rounded-lg bg-[#f6f7f8] object-cover lg:w-[342px];
}

.infoContainer {
  @apply absolute left-[20px] top-[20px] flex items-center justify-center gap-[10px];
}

.category {
  @apply flex min-h-[26px] items-center justify-center rounded-[12px] bg-[#045DE3] px-[16px] py-1 text-[14px] font-normal leading-[18px] tracking-[-0.02em] text-[#f6f7f8];
}

.readTime {
  @apply flex min-h-[26px] items-center justify-center rounded-[12px] px-[16px] text-[14px] font-normal leading-[18px] tracking-[-0.02em] text-[#f6f7f8];
}

.readMore {
  @apply mt-[24px] flex w-full items-start lg:w-fit;
}

.link {
  @apply no-underline;
}

.button {
  @apply flex w-full min-w-[120px] items-center justify-center gap-[8px] rounded-[8px] bg-[#045DE3] px-[16px] py-[12px] text-[#F6F7F8] lg:w-fit;
}
