.section {
  @apply px-6 py-[60px] lg:px-16;
}

.swiperContent {
  @apply relative;

  :global(.swiper-pagination) {
    @apply bottom-0 flex justify-center gap-1;
  }

  :global(.swiper-wrapper) {
    @apply h-[260px];
  }

  :global(.swiper-pagination-bullet) {
    @apply h-[0.5rem] w-[0.5rem] rounded-full bg-primary-200;
  }

  :global(.swiper-pagination-bullet-active) {
    @apply bg-primary-500;
  }
}

.container {
  @apply mx-auto max-w-screen-2xl;
}

.header {
  @apply text-primary-800 lg:text-center;
}

.title {
  @apply mx-auto max-w-3xl font-bold;
}

.featuresGrid {
  @apply mx-auto mt-6 grid max-w-6xl gap-16 md:grid-cols-3 lg:mt-[60px];
}

.featureCard {
  @apply relative flex h-[300px] flex-col justify-between rounded-lg bg-primary-800 p-10 shadow-md transition-all duration-300 ease-in-out hover:bg-primary-500;
}

.featureHeader {
  @apply flex items-center gap-3;
}

.featureIcon {
  @apply h-[106px] text-4xl transition-all duration-300 ease-in-out group-hover:scale-100;
}
