.section {
  @apply py-[60px];
}

.container {
  @apply mx-auto max-w-screen-2xl px-4 md:px-6;
}

.header {
  @apply text-center text-primary-800;
}

.title {
  @apply mx-auto max-w-3xl font-bold;
}

.featuresGrid {
  @apply mx-auto mt-[60px] grid max-w-6xl gap-16 md:grid-cols-3;
}

.featureCard {
  @apply relative flex h-[300px] flex-col justify-between rounded-lg bg-primary-800 p-10 shadow-md transition-all duration-300 ease-in-out hover:bg-primary-500;
}

.featureHeader {
  @apply flex items-center gap-3;
}

.featureIcon {
  @apply text-4xl transition-all duration-300 ease-in-out group-hover:scale-100;
}
