.our-culture {
  @apply relative;

  .background {
    @apply absolute inset-0 -z-10 bg-primary-500 bg-[url('/bug-hunters/join-and-benefits-bg.svg')] bg-cover bg-no-repeat;
  }

  .container {
    @apply mx-auto flex max-w-screen-2xl flex-col gap-24 px-6 py-16 lg:flex-row lg:px-16 lg:py-24;
  }

  .title {
    @apply mb-6 font-bold text-neutral-50;
  }

  .paragraph {
    @apply mb-10 text-neutral-50;
  }

  .feature-container {
    @apply flex flex-col gap-3 rounded-2xl bg-primary-500 p-6;
  }
}
