.container {
  @apply relative mx-auto my-32 flex h-full max-w-screen-2xl items-center justify-center px-6 py-16 lg:py-32;
  perspective: 1000px;

  &::before {
    content: "";
    @apply absolute right-[-10%] top-[35%] -z-10 h-[426px] w-[426px] -translate-x-1/2 -translate-y-1/2 rounded-[426px];
    background: rgba(2, 37, 91, 0.1);
    filter: blur(100px);
  }
}

.content {
  @apply relative mx-auto max-w-[800px] p-6 text-center lg:p-16;
}

.title {
  @apply mb-4 font-bold text-primary-800 lg:mb-6;
}

.description {
  @apply mx-auto mb-8 max-w-[700px] leading-relaxed text-primary-800;
}

.memberCard {
  @apply absolute overflow-hidden rounded-2xl bg-transparent transition-transform duration-300 ease-in-out;
  aspect-ratio: 1;
}

.memberImage {
  @apply h-full w-full rounded-2xl object-cover;
}

.memberInfo {
  @apply absolute bottom-0 left-0 right-0 m-[4px] rounded-lg p-[4px] text-white lg:m-2 lg:p-2;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.5) inset;
  backdrop-filter: blur(2px);
}

/* Position each member card */
.member1 {
  @apply left-[6%] top-[-6%] lg:left-[10%] lg:top-[13%];
  width: 198px;
  height: 209px;

  @media (max-width: 768px) {
    width: 88px;
    height: 93px;
  }
}

.member2 {
  @apply right-[6%] top-[-20%] -translate-x-1/2 transform lg:left-[42%] lg:top-[-5%];
  width: 138px;
  height: 152px;

  @media (max-width: 768px) {
    width: 87px;
    height: 99px;
  }
}

.member3 {
  @apply right-[8%] top-[-10%] hidden lg:block;
  width: 163px;
  height: 186px;
}

.member4 {
  @apply bottom-[0%] left-[6%] -translate-x-1/2 transform lg:bottom-[-8%] lg:left-[35%];
  width: 241px;
  height: 215px;

  @media (max-width: 768px) {
    width: 84px;
    height: 85px;
  }
}

.member5 {
  @apply bottom-[28%] right-[10%] hidden lg:block;
  width: 128px;
  height: 149px;
}

.member6 {
  @apply bottom-[-10%] right-[6%] lg:bottom-[0%] lg:left-[5%];
  width: 136px;
  height: 137px;

  @media (max-width: 768px) {
    width: 78px;
    height: 85px;
  }
}

/* Tags */
.tag {
  @apply absolute rounded-[12px] px-5 py-3 text-white;
  background-color: theme("colors.primary.800");
}

.accessibilityTag {
  composes: tag;
  @apply left-[6%] top-[-18%] !text-[12px] lg:left-[12%] lg:top-[-8%];
  background-color: rgba(2, 37, 91, 0.8);
}

.academyTag {
  composes: tag;
  @apply right-[9%] top-[10%] px-3 py-2 !text-[12px] lg:right-[28%] lg:top-[5%] lg:text-xs;
}

.organizationsTag {
  composes: tag;
  @apply bottom-[15%] right-[6%] !text-[14px] lg:bottom-[5%] lg:right-[15%];
}
