.container {
  @apply relative mx-auto my-32 flex h-full max-w-screen-2xl items-center justify-center px-6 py-16 lg:py-32;
  perspective: 1000px;
}

.content {
  @apply relative mx-auto max-w-[800px] p-6 text-center lg:p-16;
}

.title {
  @apply mb-6 font-bold text-primary-800;
}

.description {
  @apply mx-auto mb-8 max-w-[700px] leading-relaxed text-primary-800;
}

.memberCard {
  @apply absolute hidden overflow-hidden rounded-2xl bg-transparent transition-transform duration-300 ease-in-out lg:block;
  aspect-ratio: 1;
}

.memberImage {
  @apply h-full w-full rounded-2xl object-cover;
}

.memberInfo {
  @apply absolute bottom-0 left-0 right-0 m-2 rounded-lg p-2 text-white;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.5) inset;
  backdrop-filter: blur(2px);
}

/* Position each member card */
.member1 {
  @apply left-[10%] top-[13%];
  width: 198px;
  height: 209px;
}

.member2 {
  @apply left-[42%] top-[-5%] -translate-x-1/2 transform;
  width: 138px;
  height: 152px;
}

.member3 {
  @apply right-[8%] top-[-10%];
  width: 163px;
  height: 186px;
}

.member4 {
  @apply bottom-[-8%] left-[35%] -translate-x-1/2 transform;
  width: 241px;
  height: 215px;
}

.member5 {
  @apply bottom-[28%] right-[10%];
  width: 128px;
  height: 149px;
}

.member6 {
  @apply bottom-[0%] left-[5%];
  width: 136px;
  height: 137px;
}

/* Tags */
.tag {
  @apply absolute rounded-[12px] px-5 py-3 text-white;
  background-color: theme("colors.primary.800");
}

.accessibilityTag {
  composes: tag;
  @apply left-[12%] top-[-8%];
  background-color: rgba(2, 37, 91, 0.8); // #02255bcc
}

.academyTag {
  composes: tag;
  @apply right-[28%] top-[5%] px-3 py-2 text-xs;
}

.organizationsTag {
  composes: tag;
  @apply bottom-[5%] right-[15%];
}
